﻿<div class="d-flex flex-column flex-center flex-column-fluid">
       <!--begin::Illustration-->
    @*<img src="assets/media/illustrations/sketchy-1/18.png" alt="" class="mw-100 mb-10 h-lg-450px" />*@
    <img src="~/assets/media/PermisosConsola.jpg"  class="mw-100 h-lg-400px" />
    <!--end::Illustration-->
    <!--begin::Message-->
    <h1 class="fw-bold mb-10" style="color: #A3A3C7">No tienes permisos para realizar esta acción.</h1>
    <!--end::Message-->
    <!--begin::Link-->
    <a href="/Home/Index" class="btn btn-primary">Regresar al inicio</a>
    <!--end::Link-->
</div>