﻿@model IEnumerable<DTOs.Sitios.SitiosCompletoDTO>
@{
    Layout = "";

    int contador = 0;
    int contadorSitio = 0;
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">

        <div id="kt_content_container" class="container-xxl">
            <div class="card">
                <div class="card-body pt-0">

                    @await Html.PartialAsync("_MensajesBusqueda", Model.Count())

                    @if (Model.Count() > 0)
                    {
                         <div class="table-responsive" id="tablaResponsiva">
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="idTablaSitiosBandejas">
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">


                                    <th class="min-w-125px">
                                            <span class="badge badge-light text-dark">Nombre Sitio</span>
                                    </th>
                                     <th class="min-w-125px">
                                            <span class="badge badge-light text-dark">Bandejas</span>
                                     </th>

                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <tbody class="fw-bold text-gray-600">
                                @foreach (var item in Model)
                                {
                                    contador = contador + 1;
                                    <tr>
                                        <td data-title="Nombre Sitio">
                                            <div>@item.NombreSitio</div>
                                            <div class="badge badge-light-primary hover"
                                         onclick="crearNuevaBandeja('@item.IdSitio','@item.IdUbicacion','IdSitio','idUbicacionBandeja','modal_Create_Bandeja','@contador','btn_Modal_Cerrar_CrearBandeja_Cabecera','btn_Modal_Cerrar_CrearUbicacion_Foter','btn_AgregarBandejaspan')" style="cursor:pointer">
                                                Bandejas
                                                <i class="fas fa-user-plus" style="color: #009ef7"></i>
                                            </div>

                                        </td>

                                            <td data-title="Bandejas">
                                                @foreach (var Bandeja in item.Bandejas)                                                
                                                {
                                                    contadorSitio = contadorSitio + 1;

                                                    @Bandeja.NombreBandeja;
                                                }
                                            </td>
                                    </tr>

                                }


                            </tbody>

                        </table>
                        </div>
                    }

                </div>

            </div>


        </div>
    </div>
</div>
