﻿@model DTOs.Sitios.SitioCreateDTO
@{
    Layout = "";
}
<div class="modal fade" id="modal_Create_Sitio" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-hand-holding-usd text-primary fs-2qx"></i>
                    Crear Ubicación
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modal_Create_Sitio')"></button>
            </div>

            <div class="modal-body">
                <div class="row"> 
                    <form asp-action="CrearSitio" id="CrearSitio" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <input asp-for="IdUbicacion" type="hidden" />
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="NombreSitio" class="control-label">
                                                    Nombre Ubicación
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="NombreSitio" class="form-control form-control-solid" maxlength="30" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <center>
                                    <button type="button" class="btn btn-primary" id="btn_AgregarSitio" onclick="sendFormAjax(this,'CrearSitio')">
                                        <span class="indicator-label" id="btn_AgregarSitiopan">
                                            <i class="far fa-save  fs-md-2qx"></i> Agregar
                                        </span>
                                        <span class="indicator-progress">
                                            Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>
                                </center>

                            </div>

                        </div>


                    </form>
                
                </div>
            </div>

        </div>
    </div>
</div>
