﻿@model IEnumerable<DTOs.Catalogo.CatalogoResultadoBusqueda>
@{
    Layout = "";
    int i = 0;
}

<div id="kt_project_users_card_pane" class="tab-pane fade show active">
    <!--begin::Row-->
    <div class="row g-6 g-xl-9">

        <div class="col-md-8 col-xl-12 col-xxl-12">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                    @if (Model.Count() > 0)
                    {
                        <table id="dataTableCatalogo" name="dataTableCatalogo" class="table align-middle table-row-dashed fs-6 gy-5">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                    <th>Catalogo</th>
                                    <th>Código</th>
                                    <th>Empresa</th>
                                    <th>Estado</th>
                                    <th>Padre</th>
                                    <th>C. P</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-bold">
                                @foreach (var catalogo in Model)
                                {
                                    <tr class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                        <td>@catalogo.Nombrecatalogo</td>
                                        <td>@catalogo.Codigocatalogo</td>
                                        <td>@catalogo.Empresa</td>
                                        <td> @await Html.PartialAsync("_TextoActivadoDesactivado", catalogo.Estado)</td>
                                        <td>@catalogo.NombreCatalogoPadre</td>
                                        <td>@catalogo.CodigoCatalogoPadre</td>
                                        <td>
                                            <a href="~/C_Catalogo/EditarCatalogo?idCatalogo=@catalogo.IdCatalogo" target="_blank" class="badge badge-light-primary">Editar<i class="far fa-edit"></i></a>
                                            <a href="~/C_Catalogo/DetalleCatalogo?idCatalogo=@catalogo.IdCatalogo" target="_blank" class="badge badge-light-dark">Detalle<i class="far fa-eye"></i></a>
                                            <a href="~/C_Catalogo/EliminarCatalogo?idCatalogo=@catalogo.IdCatalogo" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                        </td>
                                    </tr>
                                    foreach (var subCatalogo in catalogo.InverseIdCatalogopadreNavigation)
                                    {
                                        <tr>
                                            <td>@subCatalogo.Nombrecatalogo</td>
                                            <td>@subCatalogo.Codigocatalogo</td>
                                            <td>@subCatalogo.Empresa</td>
                                            <td> @await Html.PartialAsync("_TextoActivadoDesactivado", subCatalogo.Estado)</td>
                                            <td>@subCatalogo.NombreCatalogoPadre</td>
                                            <td>@subCatalogo.CodigoCatalogoPadre</td>
                                            <td>
                                                <a href="~/C_Catalogo/EditarCatalogo?idCatalogo=@subCatalogo.IdCatalogo" target="_blank" class="badge badge-light-danger">Editar<i class="far fa-edit"></i></a>
                                                <a href="~/C_Catalogo/DetalleCatalogo?idCatalogo=@subCatalogo.IdCatalogo" target="_blank" class="badge badge-light-success">Detalle<i class="far fa-eye"></i></a>
                                                <a href="~/C_Catalogo/EliminarCatalogo?idCatalogo=@subCatalogo.IdCatalogo" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                            </td>
                                        </tr>
                                        foreach (var subCatalogoM in subCatalogo.InverseIdCatalogopadreNavigation)
                                        {
                                            <tr>
                                                <td>@subCatalogoM.Nombrecatalogo</td>
                                                <td>@subCatalogoM.Codigocatalogo</td>
                                                <td>@subCatalogoM.Empresa</td>
                                                <td> @await Html.PartialAsync("_TextoActivadoDesactivado", subCatalogoM.Estado)</td>
                                                <td>@subCatalogoM.NombreCatalogoPadre</td>
                                                <td>@subCatalogoM.CodigoCatalogoPadre</td>
                                                <td>
                                                    <a href="~/C_Catalogo/EditarCatalogo?idCatalogo=@subCatalogoM.IdCatalogo" target="_blank" class="badge badge-light-danger">Editar<i class="far fa-edit"></i></a>
                                                    <a href="~/C_Catalogo/DetalleCatalogo?idCatalogo=@subCatalogoM.IdCatalogo" target="_blank" class="badge badge-light-success">Detalle<i class="far fa-eye"></i></a>
                                                    <a href="~/C_Catalogo/EliminarCatalogo?idCatalogo=@subCatalogoM.IdCatalogo" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                                </td>
                                            </tr>
                                            foreach (var subCatalogoD in subCatalogoM.InverseIdCatalogopadreNavigation)
                                            {
                                                <tr>
                                                    <td>@subCatalogoD.Nombrecatalogo</td>
                                                    <td>@subCatalogoD.Codigocatalogo</td>
                                                    <td>@subCatalogoD.Empresa</td>
                                                    <td> @await Html.PartialAsync("_TextoActivadoDesactivado", subCatalogoD.Estado)</td>
                                                    <td>@subCatalogoD.NombreCatalogoPadre</td>
                                                    <td>@subCatalogoD.CodigoCatalogoPadre</td>
                                                    <td>
                                                        <a href="~/C_Catalogo/EditarCatalogo?idCatalogo=@subCatalogoD.IdCatalogo" target="_blank" class="badge badge-light-danger">Editar<i class="far fa-edit"></i></a>
                                                        <a href="~/C_Catalogo/DetalleCatalogo?idCatalogo=@subCatalogoD.IdCatalogo" target="_blank" class="badge badge-light-success">Detalle<i class="far fa-eye"></i></a>
                                                        <a href="~/C_Catalogo/EliminarCatalogo?idCatalogo=@subCatalogoD.IdCatalogo" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        @await Html.PartialAsync("_MensajesBusqueda", Model.Count())
                    }
                </div>
            </div>
        </div>
    </div>
</div>
