﻿@model DTOs.Catalogo.CatalogoCompleteDTO;
@{
    List<DTOs.Catalogo.CatalogoResultadoBusqueda> listaCatalogosOrganizada = (List<DTOs.Catalogo.CatalogoResultadoBusqueda>)ViewData["listaTodosCatalogos"];

    SelectList listaEmpresas = (SelectList)ViewData["listaEmpresas"];
}

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form asp-action="EliminarCatalogo" class="form" id="formEdit">

            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-bars text-primary fs-2qx"></i>
                            Eliminar Catálogo
                        </h3>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                    @Html.HiddenFor(model => model.IdCatalogo)
                    <!--end::Border-->
                    <!--begin::Input group-->
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Empresa:</label>
                        <!--begin::Select-->
                        @Html.DropDownList("IdEmpresa", listaEmpresas, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" , @disabled = "disabled" })
                        <!--end::Select-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Nombre Catágolo</label>
                        <input asp-for="Nombrecatalogo" class="form-control form-control form-control-solid" disabled="disabled" />
                    </div>
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Código</label>
                        <input asp-for="Codigocatalogo" class="form-control form-control form-control-solid" disabled="disabled" />
                    </div>
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Dato Adicional</label>
                        <input asp-for="Datoadicional" class="form-control form-control form-control-solid" disabled="disabled" />
                    </div>

                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Descripción</label>
                        <textarea asp-for="Descripcion" class="form-control form-control form-control-solid" disabled="disabled"> </textarea>
                    </div>
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Catálogo Padre</label>

                        <select data-val="true" id="IdCatalogopadre" name="IdCatalogopadre" aria-label="Selecionar" , data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg" disabled="disabled">
                            <option>Sin Padre</option>
                            @foreach (var catalogo in listaCatalogosOrganizada)
                            {
                                <optgroup label="@catalogo.Nombrecatalogo">
                                    @*<option value="@catalogo.IdCatalogo">@catalogo.Nombrecatalogo</option>*@

                                    <option value="@catalogo.IdCatalogo" selected="@(catalogo.IdCatalogo == Model.IdCatalogopadre)">@catalogo.Nombrecatalogo</option>

                                    @foreach (var subCatalogo in catalogo.InverseIdCatalogopadreNavigation)
                                    {
                                        <option value="@subCatalogo.IdCatalogo" selected="@(subCatalogo.IdCatalogo == Model.IdCatalogopadre)">@subCatalogo.Nombrecatalogo</option>
                                    }
                                </optgroup>
                            }
                        </select>
                    </div>
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Estado</label>
                        <label>
                            <input type="radio" class="btn-check" name="Estado" value="true" @(Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                            <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                        </label>
                        <label>
                            <input type="radio" class="btn-check" name="Estado" value="false" @(!Model.Estado ? "checked= \"checked\"" : "") disabled="disabled" >
                            <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>
                        </label>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Action-->
                    <div class="d-flex align-items-center justify-content-end">
                        @*<input type="button" value="Crear nuevo" onclick="sendFormAjax(this,'formCreate')" class="btn btn-primary">*@

                        <button type="button" class="btn btn-danger me-12" id="enviarForm" onclick="sendFormAjax(this,'formEdit','Delete')">
                            <span class="indicator-label">
                                Eliminar
                            </span>
                            <span class="indicator-progress">
                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>

                    </div>
                    <!--end::Action-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </form>
    </div>
</div>