﻿@model DTOs.Catalogo.CatalogoCreateDTO;

@{
    List<DTOs.Catalogo.CatalogoResultadoBusqueda> listaCatalogosOrganizada = (List<DTOs.Catalogo.CatalogoResultadoBusqueda>)ViewData["listaTodosCatalogos"];

    SelectList listaEmpresas = (SelectList)ViewData["listaEmpresas"];
}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Search vertical-->
            <div class="d-flex flex-column flex-lg-row">
                <!--begin::Aside-->
                <div class="flex-column flex-lg-row-auto w-100 w-lg-300px w-xxl-325px mb-8 mb-lg-0 me-lg-9 me-5">
                    <!--begin::Form-->
                    <form asp-action="CrearCatalogo" class="form" id="formCreate">
                        <!--begin::Card-->
                        <div class="card">
                            <div class="card-header card-header-stretch">
                                <div class="card-title d-flex align-items-center">
                                    <h3 class="fw-bolder m-0 text-gray-800">
                                        <i class="fas fa-bars text-primary fs-2qx"></i>
                                        Añadir Catálogo
                                    </h3>
                                </div>
                            </div>
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--end::Border-->
                                <!--begin::Input group-->
                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Empresa:</label>
                                    <!--begin::Select-->
                                    @Html.DropDownList("IdEmpresa", listaEmpresas, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @onchange = "recuperarCatalogosPorEmpresa()" })
                                    <!--end::Select-->
                                </div>
                                <!--end::Input group-->
                                <!--begin::Input group-->
                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Nombre Catágolo</label>
                                    <input asp-for="Nombrecatalogo" class="form-control form-control form-control-solid" />
                                </div>
                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Código</label>
                                    <input asp-for="Codigocatalogo" class="form-control form-control form-control-solid" maxlength="8" />
                                </div>
                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Dato Adicional</label>
                                    <input asp-for="Datoadicional" class="form-control form-control form-control-solid" />
                                </div>

                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Descripción</label>
                                    <textarea asp-for="Descripcion" class="form-control form-control form-control-solid"> </textarea>
                                </div>
                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Catálogo Padre</label>

                                    <select data-val="true" id="IdCatalogopadre" name="IdCatalogopadre" aria-label="Selecionar" , data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg">
                                        <option>Sin Padre</option>
                                        @foreach (var catalogo in listaCatalogosOrganizada)
                                        {
                                            <optgroup label="@catalogo.Nombrecatalogo">
                                                <option value="@catalogo.IdCatalogo">@catalogo.Nombrecatalogo</option>
                                                @foreach (var subCatalogo in catalogo.InverseIdCatalogopadreNavigation)
                                                {
                                                    <option value="@subCatalogo.IdCatalogo">@subCatalogo.Nombrecatalogo</option>
                                                }
                                            </optgroup>
                                        }
                                    </select>
                                </div>
                                <div class="mb-5">
                                    <label class="fs-6 form-label fw-bolder text-dark">Estado</label>
                                    <label>
                                        <input type="radio" class="btn-check" name="Estado" value="true" checked="checked">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="Estado" value="false">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>
                                    </label>
                                </div>
                                
                                <div class="d-flex align-items-center justify-content-end">
                                    <button type="button" class="btn btn-primary me-12" id="enviarForm" onclick="sendFormAjax(this,'formCreate')">
                                        <span class="indicator-label">
                                            Guardar Nuevo
                                        </span>
                                        <span class="indicator-progress">
                                            Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>

                                </div>                                
                            </div>                            
                        </div>                        
                    </form>                
                </div>

                <div class="flex-lg-row-fluid">
                    <form action="/C_Catalogo/BusquedaTodosCatalogosPorIDEmpresa"
                          data-ajax="true"
                          data-ajax-method="Get"
                          data-ajax-loading="#imagenCargando"
                          data-ajax-update="#resultadoBusqueda"
                          data-ajax-begin="borrarResultadosAnteriores('resultadoBusqueda')"
                          data-ajax-success="ordenarTabla()"
                          id="AjaxFormSend"
                          method="post">
                        <div class="card mb-7">
                            <!--begin::Card body-->
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <label class="fs-5 form-label fw-bolder text-dark me-md-3">Empresa</label>
                                    </div>
                                    <!--Inicio::Grupo de Filtros-->
                                    <div class="col-lg-6 me-md-8">
                                        @Html.DropDownList("IdEmpresaBusqueda", listaEmpresas, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                    </div>
                                    <!--Fin::Grupo de Filtros-->
                                    <div class="d-flex align-items-center">
                                        <button type="submit" class="btn btn-primary me-3">Buscar <i class="fas fa-search fs-1qx"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--begin::Tab Content-->
                    <div class="tab-content" id="resultadoBusqueda">
                        <!--begin::Tab pane-->
                        @await Html.PartialAsync("_ListaCatalogo", listaCatalogosOrganizada)
                    </div>
                    <center>
                        <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" style="display:none" />
                    </center>
                </div>

            </div>

        </div>

    </div>
    <!--end::Post-->
</div>


@section Scripts {

    <script src="~/lib/datatables/js/jquery.dataTables.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            ordenarTabla();
        });

        function ordenarTabla() {
            $('#dataTableCatalogo').dataTable({
                "order": [[2, "desc"]], //or asc //desc
            });
        }

        function recuperarCatalogosPorEmpresa() {
            let idSeleccion = recuperarValueSelect("IdEmpresa")
            //let elemento = document.getElementById("IdEmpresa");
            //var idSeleccion = elemento.options[elemento.selectedIndex].value;
            //alert(idSeleccion);
            let selectCatlogoPadre = document.getElementById("IdCatalogopadre");
            var options = document.querySelectorAll('#IdCatalogopadre option');
            options.forEach(o => o.remove());
            var options = document.querySelectorAll('#IdCatalogopadre optgroup');
            options.forEach(o => o.remove());

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/C_Catalogo/RecuperarListaCatalogos?IdEmpresaBusqueda=" + idSeleccion, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var directo = xhttp.response

                    var listaCatalogos = JSON.parse(directo)

                    if (listaCatalogos.length > 0) {
                        var option = document.createElement('option');

                        option.text = "Sin Padre";
                        selectCatlogoPadre.add(option);

                        for (var catalogo of listaCatalogos) {
                            optionGroup = document.createElement('optgroup');
                            optionGroup.label = catalogo.nombrecatalogo;                            
                            selectCatlogoPadre.add(optionGroup);

                            optionSelect = document.createElement('option');
                            optionSelect.text = catalogo.nombrecatalogo;
                            optionSelect.value = catalogo.idCatalogo;
                            
                            selectCatlogoPadre.add(optionSelect);

                            for (var subCatalogo of catalogo.inverseIdCatalogopadreNavigation) {
                                optionSubSelect = document.createElement('option');
                                optionSubSelect.text = subCatalogo.nombrecatalogo;
                                optionSubSelect.value = subCatalogo.idCatalogo;

                                selectCatlogoPadre.add(optionSubSelect);
                            }
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "No existen ciudades para la provincia seleccionada.",
                            icon: 'info',
                        })
                    }
                }
                else if (this.readyState != 4 && this.status != 200) {
                    Swal.fire({
                        title: 'Error Inesperado',
                        text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                        icon: 'error',
                    })
                }
            }
        }

    </script>

}
