﻿@using Utilitarios
@model IEnumerable<DTOs.EmpresaCliente.EmpresaClienteCompleteDTO>

@{
    Layout = "";
}

@if (Model != null)
{
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div class="post d-flex flex-column-fluid" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <div class="card">
                    <div class="card-body pt-0">
                        @await Html.PartialAsync("_MensajesBusqueda", Model.Count())
                        @if (Model.Count() > 0)
                        {
                            <div class="table-responsive" id="tablaResponsivaEmpresaCliente">
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="idTablaEmpresaCliente">
                                    <thead>
                                        <tr class="table align-middle table-row-dashed fs-6 gy-5">
                                            <th class="min-w-125px">
                                                <span class="badge badge-light text-dark">Empresa</span>
                                            </th>
                                            <th class="min-w-125px">
                                                <span class="badge badge-light text-dark">%Descuento</span>
                                            </th>
                                            <th class="min-w-125px">
                                                <span class="badge badge-light text-dark">Cupo de Credito</span>
                                            </th>
                                            <th class="min-w-125px">
                                                <span class="badge badge-light text-dark">Credito Disponible</span>
                                            </th>
                                            <th class="min-w-125px">
                                                <span class="badge badge-light text-dark">Días Credito</span>
                                            </th>
                                            <th class="min-w-125px">
                                                <span class="badge badge-light text-dark">Acción</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-bold text-gray-600">
                                        @foreach (var item in
                                       Model)
                                        {
                                            <tr>
                                                @{
                                                    string campoValorCupoCreditoPersonal = "0";
                                                    string campoValorCupoDisponible = "0";
                                                    if (@item.ValorCupoCreditoPersonal != null)
                                                    {
                                                        decimal valorCupocredito = (decimal)@item.ValorCupoCreditoPersonal;

                                                        campoValorCupoCreditoPersonal = valorCupocredito.ToString("0,0.00");
                                                    }
                                                    if (@item.ValorCupoDisponibleCreditoPersonal != null)
                                                    {
                                                        decimal valorCupocreditoDisponible = (decimal)@item.ValorCupoDisponibleCreditoPersonal;
                                                        campoValorCupoDisponible = valorCupocreditoDisponible.ToString("0,0.00");
                                                    }
                                                }
                                                <td data-title="Empresa">
                                                    @item.EmpresaNombre
                                                </td>
                                                <td data-title="Descuento">
                                                    @item.PorcentajeDescuento
                                                </td>
                                                <td data-title="Cupo de Credito">
                                                    @campoValorCupoCreditoPersonal
                                                </td>
                                                <td data-title="Credito Disponible">
                                                    @campoValorCupoDisponible
                                                </td>
                                                <td data-title="Días Credito">
                                                    @item.DiasCredito
                                                </td>
                                                <td data-title="Acción">
@*                                                    <div onclick="mostrarModalEditarEmpresaCliente('modal_Gestion_EmpresaCliente', '@item.IdEmpresaCliente', 'Editar', '@Constantes.pathConsola/C_Cliente/obtenerEmpresasClientes?idPersona=@item.IdPersona')" class="badge badge-light-primary" style="cursor: pointer">Editar<i class="far fa-edit" style="color: #009ef7;"></i></div>*@

                                                    <a href="~/C_Cliente/DetalleEmpresaCliente?idEmpresaCliete=@item.IdEmpresaCliente" target="_blank" class="badge badge-light-dark">Detalle<i class="far fa-eye" style="color:black"></i></a>

@*                                                    <div onclick="mostrarModalEditarEmpresaCliente('modal_Gestion_EmpresaCliente','@item.IdEmpresaCliente','Eliminar','@Constantes.pathConsola/C_Cliente/obtenerEmpresasClientes?idPersona=@item.IdPersona')" class="badge badge-light-danger" style="cursor: pointer">Eliminar<i class="far fa-edit" style="color: #ff0000;"></i></div>*@
                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>


                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
}