﻿@model DTOs.EmpresaCliente.EmpresaClienteUpdateDTO
@{
    string campoValorCupoCreditoPersonal_Update = "0";
    string campoValorCupoDisponible = "0";
    if (@Model.ValorCupoCreditoPersonal_Update != null)
    {
        decimal valorCupocredito=(decimal)@Model.ValorCupoCreditoPersonal_Update;

        campoValorCupoCreditoPersonal_Update = valorCupocredito.ToString("0,0.00");
    }
    if (@Model.ValorCupoDisponibleCreditoPersonal_Update != null)
    {
        decimal valorCupocreditoDisponible = (decimal)@Model.ValorCupoDisponibleCreditoPersonal_Update;
        campoValorCupoDisponible = valorCupocreditoDisponible.ToString("0,0.00");
    }
    Layout = "";
}
<div class="modal fade" id="modal_Gestion_EmpresaCliente" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-hand-holding-usd text-primary fs-2qx"></i>
                    Crear Beneficios para Cliente
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modal_Gestion_EmpresaCliente')"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form method="post" id="formularioEditarEmpresaClienteModal" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <input type="hidden" asp-for="IdEmpresaCliente_Update" />
                            <input type="hidden" asp-for="IdPersona_Update" />
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                   
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="IdEmpresa_Update" class="control-label">
                                                    Nombre
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row fv-plugins-icon-container">

                                            @Html.DropDownList("IdEmpresa_Update", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="PorcentajeDescuento_Update" class="control-label">
                                                    % Descuento
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="PorcentajeDescuento_Update" class="form-control form-control-solid" type="number" placeholder="0%" maxlength="2" onkeypress="return validarSoloNumerosYComa(event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="ValorCupoCreditoPersonal_Update" class="control-label">
                                                    Cupo de Credito
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="ValorCupoCreditoPersonal_Update" class="form-control form-control-solid" type="number" placeholder="$0" maxlength="3" onkeypress="return validarSoloNumerosYComa(event)" value="@campoValorCupoCreditoPersonal_Update" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="DiasCredito_Update" class="control-label">
                                                    Días Credito
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="DiasCredito_Update" class="form-control form-control-solid" type="number" maxlength="3" onkeypress="return validarSoloNumerosYComa(event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="h-100 d-flex flex-column pe-lg-6 mb-lg-0 mb-10">
                                    <div>
                                        <center>
                                            <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible " style="display: none;" />
                                        </center>
                                    </div>
                                    <center>
                                        <button type="button" class="btn btn-primary" id="btnEditarEmpresaClienteModal" onclick="sendFormAjax(this,'formularioEditarEmpresaClienteModal','resultadoClienteEmpersas','/C_Cliente/obtenerEmpresasClientes?idPersona) =@Model.IdPersona_Update','btnEditarEmpresaClienteModal','idTablaEmpresaCliente','modal_Gestion_EmpresaCliente')">
                                            <span class="indicator-label" id="btnEditarEmpresaClienteSpan">
                                             Editar 
                                            </span>
                                            <span class="indicator-progress">
                                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </center>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <center>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrarModal" onclick="cerrarModal('modal_Gestion_EmpresaCliente')">
                                        <i class="fas fa-times fs-md-2qx"></i>
                                        Cerrar
                                    </button>
                                </center>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>