﻿@model DTOs.EmpresaCliente.EmpresaClienteCreateDTO
@{
    Layout = "";
}
<div class="modal fade" id="modal_Create_EmpresaCliente" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-hand-holding-usd text-primary fs-2qx"></i>
                    Crear Beneficios para Cliente
                </h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modal_Create_EmpresaCliente')"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form asp-action="CrearEmpresaCliente" id="CrearEmpresaCliente" method="post" enctype="multipart/form-data">
                        <div class="row">

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <input asp-for="IdPersona" type="hidden" />
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="IdEmpresa" class="control-label">
                                                    Nombre
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row fv-plugins-icon-container">
                                                                                         
                                                @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                      
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="PorcentajeDescuento" class="control-label">
                                                    % Descuento
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="PorcentajeDescuento" class="form-control form-control-solid" type="number" placeholder="0%" maxlength="2" onkeypress="return validarSoloNumerosYComa(event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="PorcentajeDescuento" class="control-label">
                                                    Cupo de Credito 
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="ValorCupoCreditoPersonal" class="form-control form-control-solid" type="number" placeholder="$0" maxlength="3" onkeypress="return validarSoloNumerosYComa(event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="PorcentajeDescuento" class="control-label">
                                                    Días Credito
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="DiasCredito" class="form-control form-control-solid" type="number" placeholder="0" maxlength="3" onkeypress="return validarSoloNumerosYComa(event)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="h-100 d-flex flex-column pe-lg-6 mb-lg-0 mb-10">
                                    <div>
                                        <center>
                                            <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible " style="display: none;" />
                                        </center>
                                    </div>
                                    <center>
                                        <button type="button" class="btn btn-primary" id="btn_AgregarCargo" onclick="sendFormAjax(this,'CrearEmpresaCliente')">
                                            <span class="indicator-label" id="btn_AgregarCargospan">
                                                <i class="far fa-save  fs-md-2qx"></i> Agregar
                                            </span>
                                            <span class="indicator-progress">
                                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                            </span>
                                        </button>
                                    </center>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <center>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btncerrarModal" onclick="cerrarModal('modal_Create_EmpresaCliente')">
                                        <i class="fas fa-times fs-md-2qx"></i>
                                        Cerrar
                                    </button>
                                </center>
                            </div>
                        </div>

                    </form>
                </div>
            </div>


        </div>
    </div>
</div>