﻿@model DTOs.EmpresaCliente.EmpresaClienteCompleteDTO

@{
    string campoValorCupoCreditoPersonal_Update = "0";
    string campoValorCupoDisponible = "0";
    if (@Model.ValorCupoCreditoPersonal != null)
    {
        decimal valorCupocredito = (decimal)@Model.ValorCupoCreditoPersonal;

        campoValorCupoCreditoPersonal_Update = valorCupocredito.ToString("0,0.00");
    }
    if (@Model.ValorCupoDisponibleCreditoPersonal != null)
    {
        decimal valorCupocreditoDisponible = (decimal)@Model.ValorCupoDisponibleCreditoPersonal;
        campoValorCupoDisponible = valorCupocreditoDisponible.ToString("0,0.00");
    }

}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div class="card-header card-header-stretch">
            <div class="card-title d-flex align-items-center">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-hand-holding-usd text-primary fs-2qx"></i>

                            Detalle Empresa Cliente
                        </h3>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" asp-action="AdministrarClientes" asp-controller="C_Cliente">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <br />


        <form method="post" method="post" enctype="multipart/form-data">
            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#DatosPersonales" aria-expanded="true" aria-controls="DatosPersonales">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="fas fa-address-card text-primary fs-2qx"></i>

                        </h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <div id="DatosPersonales" class="collapse show">
                    <div class="card-body border-top p-9">
                        <div class="row">
                            <input type="hidden" asp-for="IdEmpresaCliente" />
                            <input type="hidden" asp-for="IdEmpresa" />
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">

                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="IdEmpresa" class="control-label">
                                                    Nombre
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row fv-plugins-icon-container">

                                            @Html.DropDownList("IdEmpresa", ViewData["listaEmpresasadicionales"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="PorcentajeDescuento" class="control-label">
                                                    % Descuento
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="PorcentajeDescuento" class="form-control form-control-solid" type="number" placeholder="0%" maxlength="2" onkeypress="return validarSoloNumerosYComa(event)" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="ValorCupoCreditoPersonal" class="control-label">
                                                    Cupo de Credito
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="ValorCupoCreditoPersonal" class="form-control form-control-solid" type="number" placeholder="$0" maxlength="3" onkeypress="return validarSoloNumerosYComa(event)" value="@campoValorCupoCreditoPersonal_Update" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="DiasCredito" class="control-label">
                                                    Días Credito
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="DiasCredito" class="form-control form-control-solid" type="number" maxlength="3" onkeypress="return validarSoloNumerosYComa(event)" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="ValorCupoDisponibleCreditoPersonal" class="control-label">
                                                    Cupo de credito disponible
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="ValorCupoDisponibleCreditoPersonal" class="form-control form-control-solid" type="number" onkeypress="return validarSoloNumerosYComa(event)" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row">

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="UsuarioCreacion" class="control-label">
                                                   Usuario Creación
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="UsuarioCreacion" class="form-control form-control-solid" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="UsuarioModificacion" class="control-label">
                                                    Usuario Modificación
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="UsuarioModificacion" class="form-control form-control-solid" readonly="readonly"  />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="FechaCreacion" class="control-label">
                                                    Fecha Creación
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="FechaCreacion" class="form-control form-control-solid" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="FechaModificacion" class="control-label">
                                                    Usuario Modificación
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="FechaModificacion" class="form-control form-control-solid" readonly="readonly" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
        </form>




    </div>
</div>
