﻿@model DTOs.Productos.ProductoDTOCrear

<div id="kt_content_container" class="container-xxl">
    <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="fw-bolder m-0 text-gray-800">
                        <i class="fas fa-user-plus text-primary fs-2qx"></i>
                        Creación Producto
                    </h3>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-success" asp-action="AdministrarUsuarios" asp-controller="C_Usuariol">Regresar</a>
                </div>
            </div>
        </div>

        <br />


        <form asp-action="CrearProducto" id="formCrearProducto">
            <div class="row">
                <div class="col-lg-6 ">
                    <div class="row mb-6">
                        <label asp-for="CodigoPersonalizado" class="col-lg-4 col-form-label  fw-bold fs-6">Empresa:</label>
                        <div class="col-lg-6 fv-row">
                            @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar Empresa", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Empresa", @class = "form-select form-select-solid form-select-lg", @onchange="consultarDesdeAPIControlador('IdEmpresa','idCategoriaProductos','C_CategoriaProducto','RecuperarListaCategoria','IdEmpresaBusqueda')" })
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6" asp-for="CodigoBarras">Código Barras:</label>
                        <div class="col-lg-6 fv-row">
                            <input type="text" asp-for="CodigoBarras" class="form-control form-control-solid" />
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label asp-for="CodigoPersonalizado" class="col-lg-4 col-form-label  fw-bold fs-6">Código Interno:</label>
                        <div class="col-lg-6 fv-row">
                            <input asp-for="CodigoPersonalizado" type="text" class="form-control form-control-solid" />
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label asp-for="NombreProducto" class="col-lg-4 col-form-label fw-bold fs-6">Nombre:</label>
                        <div class="col-lg-6 fv-row">
                            <input type="text" asp-for="NombreProducto" class="form-control form-control-solid" />
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label  fw-bold fs-6" for="idCategoriaProductos">Categoría:</label>
                        <div class="col-lg-6 fv-row">
                            @Html.DropDownList("idCategoriaProductos", ViewData["listaCategoriasProductos"] as SelectList, "Seleccionar Categoría", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Categoría", @class = "form-select form-select-solid form-select-lg", @onchange="consultarDesdeAPIControlador('idCategoriaProductos','IdCategoria','C_CategoriaProducto','RecuperarHijosCategoriasPorIDCategoriaPadre','idCatalogoPadre')" })
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label  fw-bold fs-6">Sub-Categoría:</label>
                        <div class="col-lg-6 fv-row">
                            <select asp-for="IdCategoria" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar ciudad" class="form-select form-select-solid form-select-lg">
                                <option>Seleccionar</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 ">
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label  fw-bold fs-6">Unidad de Medida</label>
                        <div class="col-lg-6 fv-row">
                            <select asp-for="IdUnidadEntrega" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg" onchange="recuperarLugaresProvinciasCantonesCiudades('idCantonRecidencia','IdResidencia')"></select>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6" asp-for="RegistroSanitario">Registro Sanitario</label>
                        <div class="col-lg-6 fv-row">
                            <input type="text" class="form-control form-control-solid" asp-for="RegistroSanitario" />
                        </div>
                    </div>

                    <div class="row mb-12">
                        <div class="col-xl-4">
                            <div class="fs-6 fw-bold mt-2 mb-3">
                                <label asp-for="EsMedicina" class="control-label">
                                    Es Medicina
                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-8 fv-row">
                            <label>
                                <input type="radio" class="btn-check" name="EsMedicina" value="false">
                                <span class="btn btn btn-color-muted  btn-active-primary fw-bolder px-md-7">Si</span>
                            </label>
                            <label>
                                <input type="radio" class="btn-check" name="EsMedicina" value="true" checked="checked">
                                <span class="btn btn btn-color-muted  btn-active-success fw-bolder px-md-7">No</span>
                            </label>
                        </div>
                    </div>

                    <div class="row mb-12">
                        <div class="col-xl-4">
                            <div class="fs-6 fw-bold mt-2 mb-3">
                                <label asp-for="TieneIva" class="control-label">
                                    Tiene IVA
                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-8 fv-row">
                            <label>
                                <input type="radio" class="btn-check" name="TieneIva" value="false" checked="checked">
                                <span class="btn btn btn-color-muted  btn-active-primary fw-bolder px-md-7">Si</span>
                            </label>
                            <label>
                                <input type="radio" class="btn-check" name="TieneIva" value="true">
                                <span class="btn btn btn-color-muted  btn-active-success fw-bolder px-md-7">No</span>
                            </label>
                        </div>
                    </div>


                    <div class="row mb-12">
                        <div class="col-xl-4">
                            <div class="fs-6 fw-bold mt-2 mb-3">
                                <label asp-for="DetalleProducto" class="control-label">
                                    Detalle
                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-8 fv-row">
                            <textarea asp-for="DetalleProducto" class="form-control form-control-solid"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="separator mb-8"></div>

                <div class="row mb-12">
                    <div class="col-xl-12 fv-row">
                        <div>
                            <center>
                                <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                            </center>
                        </div>
                        <center>
                            <div onclick="sendFormAjax(this,'formCrearProducto')" class="btn btn-primary">
                                Crear nuevo
                                <i class="fas fa-store  fs-2qx"></i>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>

@section scripts{
    <script src="~/js/cargardropdawns.js"></script>

    }
