﻿@model DTOs.Bandejas.BandejaCreateDTO
@{
    Layout = "";
}
<div class="modal fade" id="" name="modal_Create_Bandeja" tabindex="-1" aria-labelledby="modalHorarios" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h3 class="fw-bolder m-0 text-gray-800">
                    <i class="fas fa-sitemap  text-primary fs-2qx"></i>
                    Crear Bandeja
                </h3>
                <button type="button" class="btn-close" id="btn_Modal_Cerrar_CrearBandeja_Cabecera" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <form asp-action="CrearBandeja" method="post" id="formularioCrearNuevoBandeja" enctype="multipart/form-data">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <input asp-for="IdBandeja" type="hidden" />
                                    <input asp-for="IdSitio" type="hidden" />
                                    <input asp-for="idUbicacionBandeja" type="hidden" />
                                    <div class="row mb-12">
                                        <div class="col-md-4">
                                            <div class="fs-6 fw-bold mt-2 mb-3">
                                                <label asp-for="NombreBandeja" class="control-label">
                                                    Nombre Bandeja
                                                    @await Html.PartialAsync("_AsteriscoObligatorio")
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xl-8 fv-row">
                                            <input asp-for="NombreBandeja" class="form-control form-control-solid" required="required" placeholder="Nombre Cargo" maxlength="60" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 h-100 d-flex flex-column justify-content-between pe-lg-12 mb-lg-0 mb-10">
                                    <div class="row mb-12">

                                        <center>
                                            <button type="button" class="btn btn-primary" id="btn_AgregarBandejas">
                                                <span class="indicator-label" id="btn_AgregarBandejaspan">
                                                    <i class="far fa-save  fs-md-2qx"></i> Agregar
                                                </span>
                                                <span class="indicator-progress">
                                                    Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                </span>
                                            </button>
                                        </center>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <<hr />
                        <div class="row">
                            <div class="col-md-6">


                            </div>
                            <div class="col-md-6">
                                <center>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn_Modal_Cerrar_CrearUbicacion_Foter">
                                        <i class="fas fa-times fs-md-2qx"></i>
                                        Cerrar
                                    </button>
                                </center>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>