﻿@{
    Layout = "_LayoutLogin";
}


<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(../assets/media/illustrations/sketchy-1/14.png">
        @if (ViewBag.errorLogin != null)
        {
            <input type="hidden" id="mostrarMensajeIngresar" value="@ViewBag.errorLogin" />
        }

        <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
            <a href="../../demo8/dist/index.html" class="mb-12">
                <img alt="Logo" src="../assets/media/logos/logoTemporal.png" class="h-90px" />
            </a>
            <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
              
                    <form class="form w-100" novalidate="novalidate" asp-action="Ingresar" id="Ingresar">
                        <div class="text-center mb-10">
                            <h1 class="text-dark mb-3">Ingresar</h1>
                        </div>
                        <div class="fv-row mb-10">
                            <label class="form-label fs-6 fw-bolder text-dark">Email</label>
                            <input class="form-control form-control-lg form-control-solid" type="text" name="email" autocomplete="off" value="jefferson.barcenas@ticskernel.com" />
                        </div>
                        <div class="fv-row mb-10">
                            <div class="d-flex flex-stack mb-2">
                                <label class="form-label fw-bolder text-dark fs-6 mb-0">Constraseña:</label>
                                <a href="../../demo8/dist/authentication/flows/basic/password-reset.html" class="link-primary fs-6 fw-bolder">¿Olvidó su contraseña?</a>
                            </div>
                            <input type="hidden" id="InputToken" name="InputToken" />
                            <input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off"
                                   value="T1CsK@P4t0Pc.2021" />
                        </div>
                        <div class="text-center">
                            <button class="g-recaptcha btn btn-lg btn-primary w-100 mb-5"
                                    data-sitekey="6LciDPkeAAAAAFFtLbqYO5m891q6tVqBT1b96sPp"
                                    data-callback='onSubmit'
                                    data-action='submit'>
                                Ingresar
                            </button>
                        </div>
                    </form>
</div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://www.google.com/recaptcha/api.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            let mensaje = document.getElementById("mostrarMensajeIngresar");
            if (mensaje != undefined) {
                let datosMensaje = document.getElementById("mostrarMensajeIngresar").value;
                if (datosMensaje != undefined) {
                    Swal.fire({
                        title: datosMensaje,
                        showClass: {
                            popup: 'animate__animated animate__fadeInDown'
                        },
                        hideClass: {
                            popup: 'animate__animated animate__fadeOutUp'
                        }
                    })
                }
            }
        });

        function onSubmit(token) {
            
            var tokenInput = document.getElementById("InputToken");
            tokenInput.value = token;
            console.log("tokenk:"+ token)
            document.getElementById("Ingresar").submit();
        }

    </script>
}