﻿@model DTOs.Proveedor.ProveedorCompleteDTO

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div class="card-header card-header-lg-stretch">
            <div class="card-title d-flex align-items-center">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-truck text-primary fs-2qx"></i>
                            Editar Proveedor
                            <a class="btn btn-success" asp-action="AdministrarProveedor" asp-controller="C_Proveedor"><i class="fas fa-undo-alt"></i> Regresar</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <br />


        <form asp-action="EditarProveedor" id="formEdit">
            @Html.HiddenFor(model => model.IdProveedor)
            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#EmpresaProveedor" aria-expanded="true" aria-controls="EmpresaProveedor">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="far fa-building text-primary fs-2qx"></i>
                            Empresa Proveedor
                        </h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <div id="EmpresaProveedor" class="collapse show">
                    <div class="card-body border-top p-9">
                        <div class="row mb-8">
                            <div class="row mb-5">
                                <!--begin::Col Empresa -->
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Proveedor de </label>
                                    @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                                </div>

                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label for="IdEspecialidad" class="required fs-5 fw-bold mb-2">Especialidad</label>
                                    @Html.DropDownList("IdEspecialidad", ViewData["ListaEspecialidad"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label for="IdTipocontribuyente" class="required fs-5 fw-bold mb-2">Tipo Contribuyente</label>
                                    @Html.DropDownList("IdTipocontribuyente", ViewData["ListaTipoContribuyente"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                                </div>
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label for="IdPorcentajeIva" class="required fs-5 fw-bold mb-2">Porcentaje IVA</label>
                                    @Html.DropDownList("IdPorcentajeIva", ViewData["listaPorcentajeIva"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Nombrecomercial" class="required fs-5 fw-bold mb-2">Nombre Comercial</label>
                                    <input asp-for="Nombrecomercial" class="form-control form-control-solid" required maxlength="60" />

                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Razonsocial" class="required fs-5 fw-bold mb-2">Razon Social</label>
                                    <input asp-for="Razonsocial" class="form-control form-control-solid" required maxlength="60" />

                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Ruc" class="required fs-5 fw-bold mb-2">RUC</label>
                                    <input asp-for="Ruc" class="form-control form-control-solid" maxlength="15" required />
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Direccion" class="required fs-5 fw-bold mb-2">Dirección</label>
                                    <input asp-for="Direccion" class="form-control form-control-solid" maxlength="60" required />
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Nombrerepresentate" class="fs-5 fw-bold mb-2">Nombre Representante Legal</label>
                                    <input asp-for="Nombrerepresentate" class="form-control form-control-solid" maxlength="50" />

                                </div>
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Correoelectronico" class="required fs-5 fw-bold mb-2">E-mail</label>
                                    <input asp-for="Correoelectronico" class="form-control form-control-solid" required type="email" maxlength="50" />
                                    <div class="fv-plugins-message-container invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label for="Telefonoproveedor" class="required fs-5 fw-bold mb-2">Teléfono Proveedor</label>
                                    <input asp-for="Telefonoproveedor" class="form-control form-control-solid" maxlength="15" required />
                                </div>
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <label asp-for="Telefonomovil" class="fs-5 fw-bold mb-2">Teléfono Movil</label>
                                    <input asp-for="Telefonomovil" class="form-control form-control-solid" maxlength="15" />
                                </div>
                            </div>

                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Contribuyente Especial</label>
                                    <br />
                                    <label>

                                        <input type="radio" class="btn-check" name="Contribuyenteespecial" value="true" checked="checked" @(Model.Contribuyenteespecial ? "checked= \"checked\"" : "")>

                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Si</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="Contribuyenteespecial" value="false" @(!Model.Contribuyenteespecial ? "checked= \"checked\"" : "")>
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">No</span>
                                    </label>
                                </div>
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Obligado a llevar contabilidad</label>
                                    <br />
                                    <label>

                                        <input type="radio" class="btn-check" name="Obligadollevarcontabilidad" value="true" @(Model.Obligadollevarcontabilidad ? "checked= \"checked\"" : "")>

                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Si</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="Obligadollevarcontabilidad" value="false" @(!Model.Obligadollevarcontabilidad ? "checked= \"checked\"" : "")>
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">No</span>
                                    </label>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>

            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#ContactoProveedor" aria-expanded="true" aria-controls="ContactoProveedor">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="fas fa-id-card-alt text-primary fs-md-2qx"></i>
                            Contacto Proveedor
                        </h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <div id="ContactoProveedor" class="collapse show">
                    <div class="card-body border-top p-9">

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Nombrecontacto" class="required fs-5 fw-bold mb-2">Nombre Contacto</label>
                                <input asp-for="Nombrecontacto" class="form-control form-control-solid" maxlength="50" required />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Telefonocontacto" class=" required fs-5 fw-bold mb-2">Teléfono Contacto</label>
                                <input asp-for="Telefonocontacto" class="form-control form-control-solid" maxlength="15" required />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Codigoproveedor" class="required fs-5 fw-bold mb-2">Codigo Proveedor</label>
                                <input asp-for="Codigoproveedor" class="form-control form-control-solid" maxlength="20" required />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Nota" class="fs-5 fw-bold mb-2">Nota</label>
                                <textarea asp-for="Nota" class="form-control form-control-solid" maxlength="200">
                                </textarea>

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Estado</label>
                                    <br />
                                    <label>

                                        <input type="radio" class="btn-check" name="Estado" value="true" @(Model.Estado ? "checked= \"checked\"" : "")>

                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="Estado" value="false" @(!Model.Estado ? "checked= \"checked\"" : "")>
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>
                                    </label>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>

            </div>

            <div class="card mb-5 mb-xl-10">

                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="separator mb-8"></div>
                        <div class="row mb-8">
                            <div class="col-xl-12 fv-row">
                                <div>
                                    <center>
                                        <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                    </center>
                                </div>
                                <center>
                                    <div onclick="sendFormAjax(this,'formEdit')" class="btn btn-primary">
                                        Guardar Cambios
                                        <i class="fas fa-truck fs-2qx"></i>
                                    </div>
                                </center>
                                <!--end::Submit-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>

</div>


@section scripts{


}