﻿@model DTOs.Proveedor.ProveedorCompleteDTO

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <form asp-action="EliminarProveedor" id="formCreate">
            @Html.HiddenFor(model => model.IdProveedor)
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="far fa-building text-primary fs-2qx"></i>
                            Eliminar Proveedor
                        </h3>
                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="row mb-5">
                            <!--begin::Col Empresa -->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="required fs-5 fw-bold mb-2">Empresa</label>
                                @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>

                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="IdEspecialidad" class="required fs-5 fw-bold mb-2">Especialidad</label>
                                @Html.DropDownList("IdEspecialidad", ViewData["ListaEspecialidad"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="IdTipocontribuyente" class="required fs-5 fw-bold mb-2">Tipo Contribuyente</label>
                                @Html.DropDownList("IdTipocontribuyente", ViewData["ListaTipoContribuyente"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="IdPorcentajeIva" class="required fs-5 fw-bold mb-2">Porcentaje IVA</label>
                                @Html.DropDownList("IdPorcentajeIva", ViewData["listaPorcentajeIva"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Nombrecomercial" class="fs-5 fw-bold mb-2">Nombre Comercial</label>
                                <input asp-for="Nombrecomercial" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Razonsocial" class="fs-5 fw-bold mb-2">Razon Social</label>
                                <input asp-for="Razonsocial" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Ruc" class="fs-5 fw-bold mb-2">RUC</label>
                                <input asp-for="Ruc" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Direccion" class="fs-5 fw-bold mb-2">Dirección</label>
                                <input asp-for="Direccion" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Telefonoproveedor" class="fs-5 fw-bold mb-2">Teléfono Proveedor</label>
                                <input asp-for="Telefonoproveedor" class="form-control form-control-solid" readonly="readonly" d />
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Telefonomovil" class="fs-5 fw-bold mb-2">Teléfono Movil</label>
                                <input asp-for="Telefonomovil" class="form-control form-control-solid" readonly="readonly" />
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Nombrerepresentate" class="fs-5 fw-bold mb-2">Nombre Representante Legal</label>
                                <input asp-for="Nombrerepresentate" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Correoelectronico" class="fs-5 fw-bold mb-2">E-mail</label>
                                <input asp-for="Correoelectronico" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Nombrecontacto" class="fs-5 fw-bold mb-2">Nombre Contacto</label>
                                <input asp-for="Nombrecontacto" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Telefonocontacto" class="fs-5 fw-bold mb-2">Teléfono Contacto</label>
                                <input asp-for="Telefonocontacto" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Codigoproveedor" class="fs-5 fw-bold mb-2">Codigo Proveedor</label>
                                <input asp-for="Codigoproveedor" class="form-control form-control-solid" readonly="readonly" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Nota" class="fs-5 fw-bold mb-2">Nota</label>
                                <textarea asp-for="Nota" class="form-control form-control-solid" readonly="readonly">
                                </textarea>

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--end::Label-->
                                <label class="required fs-5 fw-bold mb-2">Contribuyente Especial</label>
                                <br />
                                <label>

                                    <input type="radio" class="btn-check" name="Contribuyenteespecial" value="true" checked="checked" @(Model.Contribuyenteespecial ? "checked= \"checked\"" : "") disabled="disabled">

                                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Si</span>
                                </label>
                                <label>
                                    <input type="radio" class="btn-check" name="Contribuyenteespecial" value="false" @(!Model.Contribuyenteespecial ? "checked= \"checked\"" : "") disabled="disabled">
                                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">No</span>
                                </label>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--end::Label-->
                                <label class="required fs-5 fw-bold mb-2">Obligado a llevar contabilidad</label>
                                <br />
                                <label>

                                    <input type="radio" class="btn-check" name="Obligadollevarcontabilidad" value="true" @(Model.Obligadollevarcontabilidad ? "checked= \"checked\"" : "") disabled="disabled">

                                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Si</span>
                                </label>
                                <label>
                                    <input type="radio" class="btn-check" name="Obligadollevarcontabilidad" value="false" @(!Model.Obligadollevarcontabilidad ? "checked= \"checked\"" : "") disabled="disabled">
                                    <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Estado</label>
                                    <br />
                                    <label>

                                        <input type="radio" class="btn-check" name="estado" @(Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>

                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="estado" value="false" @(!Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>

                                    </label>
                                </div>
                            </div>

                        </div>

                        <div class="separator mb-8"></div>
                        <div class="row mb-8">
                            <div class="col-xl-12 fv-row">
                                <div>
                                    <center>
                                        <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                    </center>
                                </div>
                                <center>
                                    <div onclick="sendFormAjax(this,'formCreate', 'Delete')" class="btn btn-danger">
                                        Eliminar
                                        <i class="far fa-trash-alt"></i>
                                    </div>
                                </center>
                                <!--end::Submit-->
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


@section scripts{


}
