﻿@model IEnumerable<DTOs.CategoriaProductos.CategoriaProductoDTOCompleto>
@{
    Layout = "";
    int i = 0;
}

<div id="kt_project_users_card_pane" class="tab-pane fade show active">
    <!--begin::Row-->
    <div class="row g-6 g-xl-9">

        <div class="col-md-8 col-xl-12 col-xxl-12">
            <!--begin::Card-->
            <div class="card">
                <!--begin::Card body-->
                <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                    @await Html.PartialAsync("_MensajesBusqueda", Model.Count())
                    @if (Model.Count() > 0)
                    {
                        <table id="dataTableCatalogo" name="dataTableCatalogo" class="table align-middle table-row-dashed fs-6 gy-5">
                            <thead>
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                    <th>Categoría</th>                                    
                                    <th>Descripción</th>
                                    <th>Empresa</th>                                    
                                    <th>Padre</th>
                                    <th>Estado</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody class="text-gray-600">
                                @foreach (var catalogo in Model)
                                {
                                    <tr class="text-dark text-hover-primary mb-1 fs-6">
                                        <td>@catalogo.NombreCategoriaProducto</td>
                                        <td>@catalogo.DescripcionProducto</td>
                                        <td>@catalogo.NombreEmpresa</td>
                                        <td>@catalogo.NombreCategoriaPadre</td>
                                        <td> @await Html.PartialAsync("_TextoActivadoDesactivado", catalogo.EstadoCategoriaProducto)</td>
                                        <td>
                                            <a href="~/C_CategoriaProducto/EditarCategoriaProducto?idCategoriaProducto=@catalogo.IdCategoriaProducto" target="_blank" class="badge badge-light-primary">Editar<i class="far fa-edit"></i></a>
                                            <a href="~/C_CategoriaProducto/DetalleCategoriaProducto?idCategoriaProducto=@catalogo.IdCategoriaProducto" target="_blank" class="badge badge-light-dark">Detalle<i class="far fa-eye"></i></a>
                                            <a href="~/C_CategoriaProducto/EliminarCategoriaProducto?idCategoriaProducto=@catalogo.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                        </td>
                                    </tr>
                                    if (catalogo.InverseIdCategoriaProductoPadreNavigation!=null){
                                        foreach (var subCatalogo in catalogo.InverseIdCategoriaProductoPadreNavigation)
                                        {
                                            <tr>
                                                <td>@catalogo.NombreCategoriaProducto</td>
                                                <td>@catalogo.DescripcionProducto</td>
                                                <td>@catalogo.NombreEmpresa</td>
                                                <td>@catalogo.NombreCategoriaPadre</td>
                                                <td> @await Html.PartialAsync("_TextoActivadoDesactivado", catalogo.EstadoCategoriaProducto)</td>
                                                <td>
                                                    <a href="~/C_CategoriaProducto/EditarCategoriaProducto?idCategoriaProducto=@subCatalogo.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Editar<i class="far fa-edit"></i></a>
                                                    <a href="~/C_CategoriaProducto/DetalleCategoriaProducto?idCategoriaProducto=@subCatalogo.IdCategoriaProducto" target="_blank" class="badge badge-light-success">Detalle<i class="far fa-eye"></i></a>
                                                    <a href="~/C_CategoriaProducto/EliminarCategoriaProducto?idCategoriaProducto=@subCatalogo.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                                </td>
                                            </tr>
                                            foreach (var subCatalogoM in subCatalogo.InverseIdCategoriaProductoPadreNavigation)
                                            {
                                                <tr>
                                                    <td>@catalogo.NombreCategoriaProducto</td>
                                                    <td>@catalogo.DescripcionProducto</td>
                                                    <td>@catalogo.NombreEmpresa</td>
                                                    <td>@catalogo.NombreCategoriaPadre</td>
                                                    <td> @await Html.PartialAsync("_TextoActivadoDesactivado", catalogo.EstadoCategoriaProducto)</td>
                                                    <td>
                                                        <a href="~/C_CategoriaProducto/EditarCategoriaProducto?idCategoriaProducto=@subCatalogoM.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Editar<i class="far fa-edit"></i></a>
                                                        <a href="~/C_CategoriaProducto/DetalleCategoriaProducto?idCategoriaProducto=@subCatalogoM.IdCategoriaProducto" target="_blank" class="badge badge-light-success">Detalle<i class="far fa-eye"></i></a>
                                                        <a href="~/C_CategoriaProducto/EliminarCategoriaProducto?idCategoriaProducto=@subCatalogoM.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                                    </td>
                                                </tr>
                                                foreach (var subCatalogoD in subCatalogoM.InverseIdCategoriaProductoPadreNavigation)
                                                {
                                                    <tr>
                                                        <td>@catalogo.NombreCategoriaProducto</td>
                                                        <td>@catalogo.DescripcionProducto</td>
                                                        <td>@catalogo.NombreEmpresa</td>
                                                        <td>@catalogo.NombreCategoriaPadre</td>
                                                        <td> @await Html.PartialAsync("_TextoActivadoDesactivado", catalogo.EstadoCategoriaProducto)</td>
                                                        <td>
                                                            <a href="~/C_CategoriaProducto/EditarCategoriaProducto?idCategoriaProducto=@subCatalogoD.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Editar<i class="far fa-edit"></i></a>
                                                            <a href="~/C_CategoriaProducto/DetalleCategoriaProducto?idCategoriaProducto=@subCatalogoD.IdCategoriaProducto" target="_blank" class="badge badge-light-success">Detalle<i class="far fa-eye"></i></a>
                                                            <a href="~/C_CategoriaProducto/EliminarCategoriaProducto?idCategoriaProducto=@subCatalogoD.IdCategoriaProducto" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        }
                                    }
                                   
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        @await Html.PartialAsync("_MensajesBusqueda", Model.Count())
                    }
                </div>
            </div>
        </div>
    </div>
</div>
