﻿@model DTOs.CategoriaProductos.CategoriaProductoDTOCompleto;
@{
    List<DTOs.CategoriaProductos.CategoriaProductoDTOCompleto> listaCatalogosOrganizada = (List<DTOs.CategoriaProductos.CategoriaProductoDTOCompleto>)ViewData["listaTodosCategoriaProductos"];

    SelectList listaEmpresas = (SelectList)ViewData["listaEmpresas"];
}

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form asp-action="EliminarCategoriaProducto" class="form" id="formEliminar">

            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-bars text-primary fs-2qx"></i>
                            Eliminar Categoría
                        </h3>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                    @Html.HiddenFor(model => model.IdCategoriaProducto)
                    <!--end::Border-->
                    <!--begin::Input group-->
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Empresa:</label>
                        <!--begin::Select-->
                        @Html.DropDownList("IdEmpresa", listaEmpresas, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled="disabled" })
                        <!--end::Select-->
                    </div>
                    <!--end::Input group-->
                    <!--begin::Input group-->
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark" asp-for="NombreCategoriaProducto">Nombre Categoría</label>
                        <input asp-for="NombreCategoriaProducto" class="form-control form-control form-control-solid" readonly="readonly" />
                    </div>
                    
                     <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark" asp-for="DescripcionProducto">Descripción</label>
                        <textarea asp-for="DescripcionProducto" class="form-control form-control form-control-solid" readonly="readonly"> </textarea>
                    </div>
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Categoría Padre</label>

                        <select data-val="true" asp-for="IdCategoriaProductoPadre" aria-label="Selecionar" , data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg" disabled="disabled">
                            <option>Sin Padre</option>
                            @foreach (var catalogo in listaCatalogosOrganizada)
                            {
                                <optgroup label="@catalogo.NombreCategoriaProducto">
                                    <option value="@catalogo.IdCategoriaProducto">@catalogo.NombreCategoriaProducto</option>
                                    @if (catalogo.InverseIdCategoriaProductoPadreNavigation != null)
                                    {
                                        foreach (var subCatalogo in catalogo.InverseIdCategoriaProductoPadreNavigation)
                                        {
                                            <option value="@subCatalogo.IdCategoriaProducto">@subCatalogo.NombreCategoriaProducto</option>
                                        }
                                    }
                                </optgroup>
                            }
                        </select>

                    </div>
                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Estado</label>
                        <label>
                            <input type="radio" class="btn-check" disabled="disabled" name="EstadoCategoriaProducto" value="true" @(Model.EstadoCategoriaProducto ? "checked= \"checked\"" : "")>
                            <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                        </label>
                        <label>
                            <input type="radio" class="btn-check" disabled="disabled" name="EstadoCategoriaProducto" value="false" @(!Model.EstadoCategoriaProducto ? "checked= \"checked\"" : "") >
                            <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>
                        </label>
                    </div>
                    <!--end::Input group-->
                    <!--begin::Action-->
                    <div class="d-flex align-items-center justify-content-end">
                        <button type="button" class="btn btn-danger me-12" id="enviarForm" onclick="sendFormAjaxEliminar(this,'formEliminar')">
                            <span class="indicator-label">
                                Eliminar
                            </span>
                            <span class="indicator-progress">
                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>

                    </div>
                    <!--end::Action-->
                </div>
                <!--end::Body-->
            </div>
            <!--end::Card-->
        </form>
    </div>
</div>