﻿@model IEnumerable<DTOs.UnidadEntrega.UnidadEntregaCompleteDTO>
@{
    Layout = "";
}

@if (Model != null)
{
    <div id="kt_project_users_card_pane" class="tab-pane fade show active">
        <!--begin::Row-->
        <div class="row g-6 g-xl-9">

            <div class="col-md-8 col-xl-12 col-xxl-12">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card body-->
                    <div class="card-body d-flex flex-center flex-column pt-12 p-9">
                        @await Html.PartialAsync("_MensajesBusqueda", Model.Count())
                        @if (Model.Count() > 0)
                        {
                            <table id="dataTableCatalogo" name="dataTableCatalogo" class="table align-middle table-row-dashed fs-6 gy-5">
                                <thead>
                                    <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                        <th>Empresa</th>
                                        <th>Nombre</th>
                                        <th>Estado</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-600 fw-bold">
                                    @foreach (var catalogo in Model)
                                    {
                                        <tr class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                                            <td>@catalogo.NombreEmpresa</td>
                                            <td>@catalogo.NombreContenido</td>
                                            <td> @await Html.PartialAsync("_TextoActivadoDesactivado", catalogo.EstadoUnidad)</td>
                                            <td>
                                                <a href="~/C_UnidadMedida/EditarUnidadMedida?idUnidadEntrega=@catalogo.IdUnidadentrega" target="_blank" class="badge badge-light-primary">Editar<i class="far fa-edit"></i></a>
                                                <a href="~/C_UnidadMedida/DetalleUnidadMedida?idUnidadEntrega=@catalogo.IdUnidadentrega" target="_blank" class="badge badge-light-dark">Detalle<i class="far fa-eye"></i></a>
                                                <a href="~/C_UnidadMedida/EliminarUnidadMedida?idUnidadEntrega=@catalogo.IdUnidadentrega" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            @await Html.PartialAsync("_MensajesBusqueda", Model.Count())
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    @await Html.PartialAsync("_MensajesBusqueda", 0)
}
