﻿@model DTOs.UnidadEntrega.UnidadEntregaCompleteDTO
@using Utilitarios;

@{
    List<DTOs.Catalogo.CatalogoResultadoBusqueda> listaCatalogosOrganizada = (List<DTOs.Catalogo.CatalogoResultadoBusqueda>)ViewData["listaTodosCatalogos"];

    SelectList listaEmpresas = (SelectList)ViewData["listaEmpresas"];
}

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <div class="card mb-5 mb-xl-10">
            <div class="card-header card-header-stretch">
                <div class="card-title d-flex align-items-center">
                    <h3 class="fw-bolder m-0 text-gray-800">
                        <i class="fas fa-bars text-primary fs-2qx"></i>
                        Detalle Unidad de Medida
                    </h3>
                </div>
            </div>

            <div class="card-body border-top p-9">
                @Html.HiddenFor(model => model.IdEmpresa)
                <!--end::Border-->
                <!--begin::Input group-->
                <div class="mb-5">
                    <label class="fs-6 form-label fw-bolder text-dark">Empresa:</label>
                    <!--begin::Select-->
                    @Html.DropDownList("IdEmpresa", listaEmpresas, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled="disabled" })
                    <!--end::Select-->
                </div>
                <!--end::Input group-->
                <!--begin::Input group-->
                <div class="mb-5">
                    <label class="fs-6 form-label fw-bolder text-dark">Nombre</label>
                    <input asp-for="NombreContenido" class="form-control form-control form-control-solid" readonly="readonly" />
                </div>
                <div class="mb-5">
                    <label class="fs-6 form-label fw-bolder text-dark">Código</label>
                    <input asp-for="CodigoUnidad" class="form-control form-control form-control-solid" readonly="readonly" />
                </div>
                <div class="mb-5">
                    <label class="fs-6 form-label fw-bolder text-dark">Estado</label>
                    <label>
                        <input type="radio" class="btn-check" name="EstadoUnidad" value="true" disabled="disabled" @(Model.EstadoUnidad ? "checked= \"checked\"" : "")>
                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                    </label>
                    <label>
                        <input type="radio" class="btn-check" name="EstadoUnidad" value="false" disabled="disabled" @(!Model.EstadoUnidad ? "checked= \"checked\"" : "")>
                        <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>
                    </label>
                </div>

                <div class="mb-5">
                    <label class="fs-6 form-label fw-bolder text-dark">Descripción</label>
                    <textarea asp-for="DescripcionMedida" class="form-control form-control form-control-solid" disabled="disabled"> </textarea>
                </div>


            </div>
        </div>

    </div>
</div>