﻿@model DTOs.Empresa.EmpresaUsuarioDTO

@{
    string razonSocial = @Model.Razonsocial.Trim().Replace(" ", "");
    string divContenedor = "divContendor" + @Model.IdEmpresa;
}
<div id="@divContenedor">
    @Html.HiddenFor(model => model.IdEmpresa)
    @Html.HiddenFor(model => model.IdUsuario)
    @Html.HiddenFor(model => model.Razonsocial)
    <div class="border border-gray-300 border-dashed rounded py-3 px-4 mb-3" id="@razonSocial@Model.IdEmpresa">
        @razonSocial<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" title="Eliminar"
                          onclick="eliminarElementoEmpresaSeleccionada('@divContenedor', '@Model.IdEmpresa')"><i class="bi bi-x fs-2"></i></span>
    </div>
    <input type="hidden">
</div>