﻿@model Utilitarios.Busquedas.Usuario.ObjetoBusquedaUsuarios

@{

}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <div id="kt_content_container" class="container-xxl">
            <form action="/C_Usuario/BusquedaAvanzadaUsuario"
                  data-ajax="true"
                  data-ajax-method="Get"
                  data-ajax-loading="#imagenCargando"
                  data-ajax-begin="borrarResultadosAnteriores('#resultadoBusqueda')"
                  data-ajax-update="#resultadoBusqueda"
                  id="AjaxFormSend"
                  method="post">

                <div class="card mb-10 mb-xl-12">
                    <!--Inicio seccion Icono TItulo y Boton Nuevo ::Container-->
                    <div class="card-header card-header-stretch">
                        <div class="card-title d-flex align-items-center">
                            <div class="row">
                                <div class="col-md-10">
                                    <h3 class="fw-bolder m-0 text-gray-800">
                                        <i class="fas fa-users-cog text-primary fs-2qx"></i>                                       
                                        Usuario
                                    </h3>
                                </div>
                                <div class="col-md-2">
                                    <a class="btn btn-success" asp-action="CrearUsuario" asp-controller="C_Usuario">Nuevo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fin seccion Icono TItulo y Boton Nuevo ::Container-->
                    <!--Fin seccion Icono TItulo y Boton Nuevo ::Container-->
                    <div class="card-body border-top p-9">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Tipo Usuario", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                                <div class="col-md-3">
                                    @Html.DropDownList("IdRol", ViewData["listaRoles"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Tipo Usuario", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                                <div class="col-md-2">
                                    <input asp-for="numeroIdentificacion" type="text" class="form-control" placeholder="Num. Documento" />
                                </div>
                                <div class="col-md-2">
                                    <input asp-for="nombres" type="text" class="form-control" placeholder="Nombres" />
                                </div>
                                <div class="col-md-2">
                                    <input asp-for="apellidos" type="text" class="form-control" placeholder="Apellidos" />
                                </div>

                            </div>
                        </div>
                        <br />
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-3">
                                    <input asp-for="correo" type="text" class="form-control" placeholder="Correo" />
                                </div>
                                <div class="col-md-3">
                                    <div class="d-flex align-items-center">
                                        <button type="submit" class="btn btn-primary"><span class="fas fa-search"></span> Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </form>

            <div id="resultadoBusqueda">

            </div>

        </div>

    </div>
</div>
<center>
    <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" style="display:none" />
</center>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            let elemento = document.getElementById("IdRol");
            let newOption = new Option('Todos', 'Todos');

            elemento.options[0] = newOption;
            elemento.selectedIndex = 0;//se coloca debido a que por alguna razón luego de añadir el nuevo option se selecciona el ultimo option.
        });
    </script>
}