﻿@model DTOs.User.UserCompleteDTO
@{
    string fecha = "";

    try
    {
        fecha = ((DateTime)Model.FechaNacimiento).ToString("yyyy/MM/dd");
    }
    catch (Exception)
    {

    }

}
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">


    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">

        <div class="card-header card-header-stretch">
            <div class="card-title d-flex align-items-center">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-user-plus text-primary fs-2qx"></i>
                            Editar Usuario
                        </h3>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-success" asp-action="AdministrarUsuarios" asp-controller="C_Usuariol">Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <form asp-action="EditarUsuario" class="form" id="formEdit" enctype="multipart/form-data">
            <input type="hidden" asp-for="IdUsuario" />
            <input type="hidden" asp-for="Fechacreacion" />
            <input type="hidden" asp-for="Usuariocreacion"/>
            <input type="hidden" asp-for="IdPersona" />


            <!--begin::Card header-->
            <div class="card mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#DatosPersonales" aria-expanded="true" aria-controls="DatosPersonales">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="fas fa-address-card text-primary fs-2qx"></i>
                            Datos Personales
                        </h3>
                    </div>
                    <!--end::Card title-->
                </div>

                <div id="DatosPersonales" class="collapse show">
                    <div class="card-body border-top p-9">
                        <!--begin::Avatar-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6">Avatar</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Image input-->
                                <div class="image-input image-input-outline" data-kt-image-input="true" style="background-image: url(../assets/media/avatars/blank.png) ">
                                    <!--begin::Preview existing avatar-->
                                    <div class="image-input-wrapper w-125px h-125px" style="background-image: url(../assets/media/avatars/046-girl-24.svg) "></div>

                                    <!--end::Preview existing avatar-->
                                    <!--begin::Label-->
                                    <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                                        <i class="bi bi-pencil-fill fs-7"></i>
                                        <!--begin::Inputs-->
                                        <input type="file" name="Imagenpersona" id="Imagenpersona" accept=".png, .jpg, .jpeg" />
                                        <input type="hidden" name="avatar_remove" />
                                        <!--end::Inputs-->
                                    </label>
                                    <!--end::Label-->
                                    <!--begin::Cancel-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Cancel-->
                                    <!--begin::Remove-->
                                    <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Eliminar avatar">
                                        <i class="bi bi-x fs-2"></i>
                                    </span>
                                    <!--end::Remove-->
                                </div>
                                <!--end::Image input-->
                                <!--begin::Hint-->
                                <div class="form-text">Solo se permiten imagenes con formato: png, jpg, jpeg.</div>
                                <!--end::Hint-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end:: Avatar-->
                        <!--begin::Datos Persona-->
                        <hr />
                        <div class="row mb-6">
                            <div class="row mb-5">
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label class="required fs-5 fw-bold mb-2">Nombres</label>
                                    <input asp-for="Nombre" class="form-control form-control-solid" required maxlength="16" />
                                </div>
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label class="required fs-5 fw-bold mb-2">Apellidos</label>
                                    <input asp-for="Apellido" class="form-control form-control-solid" required maxlength="16" />
                                </div>
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label class="required fs-5 fw-bold mb-2">Fecha Nacimiento</label>
                                    <div class="position-relative d-flex align-items-center">
                                        <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                        <span class="svg-icon position-absolute ms-4 mb-1 svg-icon-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                <path opacity="0.3" d="M21 22H3C2.4 22 2 21.6 2 21V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5V21C22 21.6 21.6 22 21 22Z" fill="black" />
                                                <path d="M6 6C5.4 6 5 5.6 5 5V3C5 2.4 5.4 2 6 2C6.6 2 7 2.4 7 3V5C7 5.6 6.6 6 6 6ZM11 5V3C11 2.4 10.6 2 10 2C9.4 2 9 2.4 9 3V5C9 5.6 9.4 6 10 6C10.6 6 11 5.6 11 5ZM15 5V3C15 2.4 14.6 2 14 2C13.4 2 13 2.4 13 3V5C13 5.6 13.4 6 14 6C14.6 6 15 5.6 15 5ZM19 5V3C19 2.4 18.6 2 18 2C17.4 2 17 2.4 17 3V5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5Z" fill="black" />
                                                <path d="M8.8 13.1C9.2 13.1 9.5 13 9.7 12.8C9.9 12.6 10.1 12.3 10.1 11.9C10.1 11.6 10 11.3 9.8 11.1C9.6 10.9 9.3 10.8 9 10.8C8.8 10.8 8.59999 10.8 8.39999 10.9C8.19999 11 8.1 11.1 8 11.2C7.9 11.3 7.8 11.4 7.7 11.6C7.6 11.8 7.5 11.9 7.5 12.1C7.5 12.2 7.4 12.2 7.3 12.3C7.2 12.4 7.09999 12.4 6.89999 12.4C6.69999 12.4 6.6 12.3 6.5 12.2C6.4 12.1 6.3 11.9 6.3 11.7C6.3 11.5 6.4 11.3 6.5 11.1C6.6 10.9 6.8 10.7 7 10.5C7.2 10.3 7.49999 10.1 7.89999 10C8.29999 9.90003 8.60001 9.80003 9.10001 9.80003C9.50001 9.80003 9.80001 9.90003 10.1 10C10.4 10.1 10.7 10.3 10.9 10.4C11.1 10.5 11.3 10.8 11.4 11.1C11.5 11.4 11.6 11.6 11.6 11.9C11.6 12.3 11.5 12.6 11.3 12.9C11.1 13.2 10.9 13.5 10.6 13.7C10.9 13.9 11.2 14.1 11.4 14.3C11.6 14.5 11.8 14.7 11.9 15C12 15.3 12.1 15.5 12.1 15.8C12.1 16.2 12 16.5 11.9 16.8C11.8 17.1 11.5 17.4 11.3 17.7C11.1 18 10.7 18.2 10.3 18.3C9.9 18.4 9.5 18.5 9 18.5C8.5 18.5 8.1 18.4 7.7 18.2C7.3 18 7 17.8 6.8 17.6C6.6 17.4 6.4 17.1 6.3 16.8C6.2 16.5 6.10001 16.3 6.10001 16.1C6.10001 15.9 6.2 15.7 6.3 15.6C6.4 15.5 6.6 15.4 6.8 15.4C6.9 15.4 7.00001 15.4 7.10001 15.5C7.20001 15.6 7.3 15.6 7.3 15.7C7.5 16.2 7.7 16.6 8 16.9C8.3 17.2 8.6 17.3 9 17.3C9.2 17.3 9.5 17.2 9.7 17.1C9.9 17 10.1 16.8 10.3 16.6C10.5 16.4 10.5 16.1 10.5 15.8C10.5 15.3 10.4 15 10.1 14.7C9.80001 14.4 9.50001 14.3 9.10001 14.3C9.00001 14.3 8.9 14.3 8.7 14.3C8.5 14.3 8.39999 14.3 8.39999 14.3C8.19999 14.3 7.99999 14.2 7.89999 14.1C7.79999 14 7.7 13.8 7.7 13.7C7.7 13.5 7.79999 13.4 7.89999 13.2C7.99999 13 8.2 13 8.5 13H8.8V13.1ZM15.3 17.5V12.2C14.3 13 13.6 13.3 13.3 13.3C13.1 13.3 13 13.2 12.9 13.1C12.8 13 12.7 12.8 12.7 12.6C12.7 12.4 12.8 12.3 12.9 12.2C13 12.1 13.2 12 13.6 11.8C14.1 11.6 14.5 11.3 14.7 11.1C14.9 10.9 15.2 10.6 15.5 10.3C15.8 10 15.9 9.80003 15.9 9.70003C15.9 9.60003 16.1 9.60004 16.3 9.60004C16.5 9.60004 16.7 9.70003 16.8 9.80003C16.9 9.90003 17 10.2 17 10.5V17.2C17 18 16.7 18.4 16.2 18.4C16 18.4 15.8 18.3 15.6 18.2C15.4 18.1 15.3 17.8 15.3 17.5Z" fill="black" />
                                            </svg>
                                        </span>
                                        <!--end::Svg Icon-->
                                        <input class="form-control form-control-solid ps-12" name="Fechanacimiento" placeholder="Selecciona una fecha" id="Fechanacimiento" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label class="required fs-5 fw-bold mb-2">Tipo Identificación</label>
                                    @Html.DropDownList("IdTipoIdentificacion", ViewData["listaTipoIdentificacion"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label class="required fs-5 fw-bold mb-2">Número Identificación</label>
                                    <input asp-for="NumeroIdentificacion" class="form-control form-control-solid" maxlength="15" required />
                                </div>
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label class="required fs-5 fw-bold mb-2">Estado Civil</label>
                                    @Html.DropDownList("IdEstadoCivil", ViewData["listaEstadoCivil"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                            </div>
                        </div>
                        <!--end:: Datos Persona-->
                        <!--begin::Datos Lugar Recidencia y Nacimiento-->
                        <div class="row">
                            <div class="col-lg-6 ">

                                <div class="row mb-6" style="text-align:center">
                                    <label class=" fs-5 fw-bold mb-2">Lucagar Nacimiento</label>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label  fw-bold fs-6" style="text-align:center"> Provincia </label>
                                    <div class="col-lg-6 fv-row">
                                        @Html.DropDownList("idProvincias", ViewData["listaProvincias"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required", onchange = "recuperarLugaresProvinciasCantonesCiudades('idProvincias','idCantones')" })
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label  fw-bold fs-6" style="text-align:center"> Cantón </label>
                                    <div class="col-lg-6 fv-row">
                                        @Html.DropDownList("idCantones", ViewData["listaCantones"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required", onchange = "recuperarLugaresProvinciasCantonesCiudades('idCantones','IdUbicacion')" })

                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label  fw-bold fs-6" style="text-align:center"> Parroquia </label>
                                    <div class="col-lg-6 fv-row">                                      

                                            @Html.DropDownList("IdLugarNacimiento", ViewData["listaParroquias"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })                                   

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 ">
                                <div class="row mb-6" style="text-align:center">
                                    <label class=" fs-5 fw-bold mb-2">Lucagar Recidencia</label>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label  fw-bold fs-6" style="text-align:center"> Provincia </label>
                                    <div class="col-lg-6 fv-row">
                                        @Html.DropDownList("IdProvinciaRecidencia", ViewData["listaProvinciasRecidencia"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @onchange = "recuperarLugaresProvinciasCantonesCiudades('IdProvinciaRecidencia','idCantonRecidencia')" })
                                    </div>
                                </div>
                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label  fw-bold fs-6" style="text-align:center"> Cantón </label>
                                    <div class="col-lg-6 fv-row">
                                        @Html.DropDownList("idCantonRecidencia", ViewData["listaCantonesRecidencia"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required", onchange = "recuperarLugaresProvinciasCantonesCiudades('idCantonRecidencia','IdResidencia')" })

                                    </div>
                                </div>

                                <div class="row mb-6">
                                    <label class="col-lg-4 col-form-label  fw-bold fs-6" style="text-align:center"> Parroquia </label>
                                    <div class="col-lg-6 fv-row">

                                        @Html.DropDownList("IdResidencia", ViewData["listaParroquiasRecidencia"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })


                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--end:: Datos Lugar Recidencia y Nacimiento-->

                    </div>
                </div>

            </div>

            <div class="card mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#cuentaDatosContacto" aria-expanded="true" aria-controls="cuentaDatosContacto">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="fas fa-envelope-open-text text-primary fs-2qx"></i>
                            Datos Contacto
                        </h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="cuentaDatosContacto" class="collapse show">
                    <!--begin::Form-->
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span class="required">Celular</span>
                                <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Número de celular"></i>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input asp-for="Telefono1" class="form-control form-control-solid" placeholder="Celular" required maxlength="11" />
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span>Correo</span>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input asp-for="CorreoPersonal" class="form-control form-control-solid" type="email" placeholder="email@email.com" maxlength="60" />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span>Teléfono</span>

                            </label>
                            <div class="col-lg-8 fv-row">
                                <input asp-for="Telefono2" class="form-control form-control-solid" placeholder="Teléfono" maxlength="11" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span>Dirección</span>

                            </label>
                            <div class="col-lg-8 fv-row">
                                <textarea asp-for="Direccion" class="form-control form-control-solid" required maxlength="80"></textarea>

                            </div>
                            <!--end::Col-->
                        </div>

                    </div>
                    <!--end::Card body-->

                </div>
                <!--end::Content-->
            </div>


            <div class="card mb-5 mb-xl-10">
                <!--begin::Card header-->
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#cuentaSeguridad" aria-expanded="true" aria-controls="cuentaSeguridad">
                    <!--begin::Card title-->
                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="fas fa-lock text-primary fs-2qx"></i>
                            Seguridad
                        </h3>
                    </div>
                    <!--end::Card title-->
                </div>
                <!--begin::Card header-->
                <!--begin::Content-->
                <div id="cuentaSeguridad" class="collapse show">
                    <!--begin::Form-->
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Empresas Acceso <i class="fas fa-exclamation-circle ms-1 fs-7" data-bs-toggle="tooltip" title="Selecciona las empresas a las cuales este usuario tendrá acceso en el futuro."></i></label>

                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-xl-6 fv-row">
                                        @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                                    </div>

                                    <div class="col-lg-6 fv-row">
                                        <div class="btn btn-primary" onclick="anadirEmpresasSeleccion()">Añadir Empresa</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Empresas</label>
                            <div class="col-lg-8 fv-row">
                                <div class="symbol-group" id="divListaEmpresasAcceso">

                                </div>
                            </div>
                        </div>

                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Empresa Favorita <i class="fas fa-star " style="color: #FFD700 "></i></label>
                            <div class="col-lg-8 fv-row">
                                <select id="IdEmpresadefault" name="IdEmpresadefault" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg" required>
                                    <option>Añada una empresa primero</option>
                                </select>

                            </div>
                        </div>

                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6">Perfil/Rol</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                @Html.DropDownList("IdRol", ViewData["listaRoles"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                            </div>
                            <!--end::Col-->
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span class="required">Correo Principal</span>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input asp-for="CorreoInstitucional" class="form-control form-control-solid" placeholder="correo.institucional@correo.com" required type="email" maxlength="60" />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span class="required">Contraseña</span>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input asp-for="Contrasena" type="password"  class="form-control form-control-solid"  required maxlength="200" />
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6">
                                <span class="required">Confirmar Contraseña</span>
                            </label>
                            <div class="col-lg-8 fv-row">
                                <input id="ConfirmarContrasena" name="ConfirmarContrasena"  type="password" class="form-control form-control-solid" placeholder="Confirmar contraseña" required maxlength="200" />
                            </div>
                        </div>
                        <div class="row mb-0">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6">Estado</label>
                            <!--begin::Label-->
                            <!--begin::Label-->
                            <div class="col-lg-8 d-flex align-items-center">
                                <div class="form-check form-check-solid form-switch fv-row">
                                    <input type="checkbox" class="form-check-input w-45px h-30px" value="@Model.Contrasena" name="Activado" id="Activado" checked="checked">
                                    <label class="form-check-label" for="Activado"></label>
                                </div>
                            </div>
                            <!--begin::Label-->
                        </div>
                    </div>

                    <div class="card-footer justify-content-end py-6 px-9">
                        <div>
                            <center>
                                <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                            </center>
                        </div>
                        <center>
                            <div onclick="sendFormAjax(this,'formEdit')" class="btn btn-primary">
                               Editar Usuario
                                <i class="fas fa-user-plus fs-2qx"></i>
                            </div>
                        </center>

                    </div>
                    <!--end::Actions-->
                    <!--end::Form-->
                </div>
                <!--end::Content-->
            </div>

            <!--end::Content-->


        </form>
    </div>
</div>

@section scripts{

    <script src="~/js/JSLocales.js"></script>
    <script type="text/javascript">
        let contador = 0

        $(document).ready(function () {

        });

        function anadirEmpresasSeleccion() {
            //let elementoSelectEmpresa = document.getElementById("IdEmpresa");
            //let nombreEmpresa = elementoSelectEmpresa.options[elementoSelectEmpresa.selectedIndex].text;

            //let idEmpresa = elementoSelectEmpresa.options[elementoSelectEmpresa.selectedIndex].value;

            let idEmpresa = recuperarValueSelect("IdEmpresa");
            let nombreEmpresa = recuperarTextSelect("IdEmpresa").replace(' ', '');

            if (idEmpresa != undefined) {
                let divEmpresasSeleccionadas = document.getElementById("divListaEmpresasAcceso")

                let idElementoEmpresa = nombreEmpresa.trim() + "" + idEmpresa

                let nuevoDiv = document.getElementById(idElementoEmpresa)

                if (nuevoDiv == undefined) {
                    let nuevaEmpresaSeleccionada = document.createElement("DIV")
                    nuevaEmpresaSeleccionada.className = "border border-gray-300 border-dashed rounded py-3 px-4 mb-3"
                    nuevaEmpresaSeleccionada.innerHTML = nombreEmpresa;
                    nuevaEmpresaSeleccionada.setAttribute("id", idElementoEmpresa);

                    divEmpresasSeleccionadas.appendChild(nuevaEmpresaSeleccionada)

                    let idOcultoEmpresaSeleccionada = document.createElement("INPUT")
                    idOcultoEmpresaSeleccionada.value = idEmpresa
                    idOcultoEmpresaSeleccionada.setAttribute("type", "hidden")
                    idOcultoEmpresaSeleccionada.setAttribute("name", "EmpresaUsuarioDTO[" + contador + "].IdEmpresa")


                    divEmpresasSeleccionadas.appendChild(idOcultoEmpresaSeleccionada)

                    let idOcultoUsuario = document.createElement("INPUT")
                    idOcultoUsuario.value = document.getElementById('IdUsuario').value
                    idOcultoUsuario.setAttribute("type", "hidden")
                    idOcultoUsuario.setAttribute("name", "EmpresaUsuarioDTO[" + contador + "].IdUsuario")


                    divEmpresasSeleccionadas.appendChild(idOcultoUsuario)



                    let spanIcono = document.createElement("SPAN")
                    spanIcono.className = "btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
                    spanIcono.setAttribute("title", "Eliminar")
                    spanIcono.setAttribute("onclick", "eliminarElementoEmpresaSeleccionada('" + idElementoEmpresa + "','" + idEmpresa + "')")

                    nuevaEmpresaSeleccionada.appendChild(spanIcono)

                    let iconoElimnar = document.createElement("I")
                    iconoElimnar.className = "bi bi-x fs-2"

                    spanIcono.appendChild(iconoElimnar)
                    contador++

                    let selectEmpresaFavorita = document.getElementById("IdEmpresadefault")
                    let idEmpresaFavorita = recuperarValueSelect("IdEmpresadefault");

                    if (idEmpresaFavorita == undefined) {
                        var options = document.querySelectorAll('#IdEmpresadefault option');
                        options.forEach(o => o.remove());
                    }

                    let option = document.createElement('option');

                    option.text = nombreEmpresa;
                    option.value = idEmpresa;
                    selectEmpresaFavorita.add(option);
                }
                else {
                    Swal.fire({
                        title: 'Advertencia',
                        text: "Esta empresa ya fue añadida.",
                        icon: 'info',
                    })
                }
            }
            else {
                Swal.fire({
                    title: 'Advertencia',
                    text: "Por favor seleccione primero una empresa favorita.",
                    icon: 'info',
                })
            }
        }

        function eliminarElementoEmpresaSeleccionada(idElementoEmpresaSeleccion, idEmpresa) {
            let selectDefault = document.getElementById('IdEmpresadefault').length;
            contador = selectDefault - 1
            //alert(selectDefault)

            let elementoEliminar = document.getElementById(idElementoEmpresaSeleccion)
            if (elementoEliminar != undefined) {
                {
                    elementoEliminar.remove()
                    contador--
                    var options = document.querySelectorAll('#IdEmpresadefault option');
                    options.forEach(o => o.value == idEmpresa ? o.remove() : '');
                }

            }
        }


        $("#Fechanacimiento").flatpickr();

        function recuperarCiudad(idSelectPadre, idSelecCiudad) {
            let elemento = document.getElementById(idSelectPadre);
            var idSeleccion = elemento.options[elemento.selectedIndex].value;
            //Elemento en donde se colocará el resultado
            let selectCiudad = document.getElementById(idSelecCiudad);

            let selectEmpresa = document.getElementById("IdEmpresadefault");
            var idSeleccionEmpresa = selectEmpresa.options[selectEmpresa.selectedIndex].value;

            var options = document.querySelectorAll('#' + idSelecCiudad + ' option');
            options.forEach(o => o.remove());
            option = document.createElement('option');
            option.text = "Seleccionar";
            selectCiudad.add(option);
            //alert(value)
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/C_Local/cargarListaDropDownCiudades?idPadreCatalogoCiudad=" + idSeleccion + "&idEmpresa=" + idSeleccionEmpresa, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var directo = xhttp.response

                    var listaCiudades = JSON.parse(directo)
                    if (listaCiudades.length > 0) {
                        for (var ciudad of listaCiudades) {
                            option = document.createElement('option');

                            option.text = ciudad.nombrecatalogo;
                            option.value = ciudad.idCatalogo;

                            selectCiudad.add(option);
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "No existen ciudades para la provincia seleccionada.",
                            icon: 'info',
                        })
                    }
                }
                else if (this.readyState != 4 && this.status != 200) {
                    Swal.fire({
                        title: 'Error Inesperado',
                        text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                        icon: 'error',
                    })
                }
            }
        };


    </script>
}