﻿@model DTOs.GrupoProducto.GrupoProductoCompleteDTO
@using Utilitarios;

@{
    SelectList listaEmpresas = (SelectList)ViewData["listaEmpresas"];
}

<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form asp-action="EditarGrupoProducto" class="form" id="formCreate">
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-bars text-primary fs-2qx"></i>
                            Editar Grupo de Producto
                        </h3>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                    @Html.HiddenFor(model => model.IdGrupoProducto)

                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Empresa:</label>

                        @Html.DropDownList("IdEmpresa", listaEmpresas, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                    </div>

                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Nombre Catágolo</label>
                        <input asp-for="NombreGrupoProducto" class="form-control form-control form-control-solid" maxlength="15" />
                    </div>

                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Estado</label></br>
                        <label>
                            <input type="radio" class="btn-check" name="EstadoGrupoProducto" value="true" @(Model.EstadoGrupoProducto ? "checked= \"checked\"" : "")>
                            <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                        </label>
                        <label>
                            <input type="radio" class="btn-check" name="EstadoGrupoProducto" value="false" @(!Model.EstadoGrupoProducto ? "checked= \"checked\"" : "")>
                            <span class="btn btn-sm btn-color-muted btn-active btn-active-danger fw-bolder px-2">Desactivado</span>
                        </label>
                    </div>

                    <div class="mb-5">
                        <label class="fs-6 form-label fw-bolder text-dark">Descripción</label>
                        <textarea asp-for="DescripcionGrupoProducto" class="form-control form-control form-control-solid"> </textarea>
                    </div>

                    <div class="d-flex align-items-center justify-content-end">
                        <button type="button" class="btn btn-primary me-12" id="enviarForm" onclick="sendFormAjax(this,'formCreate')">
                            <span class="indicator-label">
                                Guardar Cambios
                            </span>
                            <span class="indicator-progress">
                                Por favor espere... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>