﻿@model IEnumerable<DTOs.Ubicacion.UbicacionCompleteDTO>
@{
    Layout = "";
}
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">

        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <div class="card-body pt-0">

                    @await Html.PartialAsync("_MensajesBusqueda", Model.Count())

                    @if (Model.Count() > 0 ) 
                    {
                         <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">

                                    <th class="min-w-125px">Tipo Ubicación</th>
                                    <th class="min-w-125px">Nombre Ubicacion</th>
                                    <th class="min-w-125px">Estado</th>
                                    <th class="min-w-125px">Acción</th>

                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <tbody class="fw-bold text-gray-600">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.nombreTipoUbicacion</td>
                                        <td>@item.NombreUbicacion</td>
                                        <td>
                                            @await Html.PartialAsync("_TextoActivadoDesactivado", item.Estado)
                                        </td>

                                        <td>
                                            <a href="~/C_Local/EditarUbicacion?idUbicacion=@item.IdUbicacion" target="_blank" class="badge badge-light-primary">Editar<i class="far fa-edit" style="color: #009ef7"></i></a>
                                            <a href="~/C_Cliente/DetalleCliente?idPersona=@item.IdUbicacion" target="_blank" class="badge badge-light-dark">Detalle<i class="far fa-eye" style="color:black"></i></a>
                                            <a href="~/C_Cliente/ElimianrCliente?idPersona=@item.IdUbicacion" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt" style="color: #f1416c"></i></a>
                                        </td>
                                    
                                    </tr>
                                }

                            </tbody>
                         </table>
                    }
                </div>
            </div>
        </div>

    </div>
</div>