﻿@model DTOs.Ubicacion.UbicacionCompleteDTO

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">

        <div class="card-header card-header-stretch">
            <div class="card-title d-flex align-items-center">
                <div class="row">
                    <div class="col-md-8">
                        <h3 class="fw-bolder m-0 text-gray-800">


                            <i class="far fa-building text-primary fs-2qx"></i>
                            Administrar Ubicación
                        </h3>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success" asp-action="AdministrarLocal" asp-controller="C_Local"> Regresar</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <form asp-action="EditarUbicacion" class="form" id="EditarUbicacion" enctype="multipart/form-data">
            @Html.HiddenFor(model => model.IdLocal)
            @Html.HiddenFor(model => model.IdUbicacion)
            <div class="card mb-5 mb-xl-10">

                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#DatosUbicacion" aria-expanded="true" aria-controls="DatosUbicacion">

                    <div class="card-title m-0">
                        <h3 class="fw-bolder m-0">
                            <i class="fas fa-store text-primary  fs-2qx"></i>
                            Datos Ubicacion
                        </h3>
                    </div>
                </div>

                <div id="DatosUbicacion" class="collapse show">
                    <div class="card-body border-top p-9">
                        <div class="row mb-8">
                            <div class="row mb-5">

                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <!--begin::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Empresa</label>
                                    @Html.DropDownList("IdTipoUbicacion", ViewData["listaTiUbicaciones"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                                </div>
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label asp-for="NombreUbicacion" class="required fs-5 fw-bold mb-2">Nombre</label>
                                    <input asp-for="NombreUbicacion" class="form-control form-control-solid" required />
                                </div>
                                <div class="col-md-4 fv-row fv-plugins-icon-container">
                                    <label asp-for="Estado" class="required fs-5 fw-bold mb-2">Estado</label>
                                    <br />
                                    <label>
                                        <input type="radio" class="btn-check" name="estado" value="true" @(Model.Estado ? "checked= \"checked\"" : "")>
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="estado" value="false" @(!Model.Estado ? "checked= \"checked\"" : "")>
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Desactivado</span>
                                    </label>
                                </div>
                            </div>
                            <div class="row mb-5">
                                <div class="col-md-2 fv-row fv-plugins-icon-container"> </div>
                                <div class="col-md-8 fv-row fv-plugins-icon-container">
                                    <label asp-for="Descripcion" class="required fs-5 fw-bold mb-2">Estado</label>

                                    <textarea asp-for="Descripcion" class="form-control form-control-solid" maxlength="100"></textarea>

                                </div>
                                <div class="col-md-2 fv-row fv-plugins-icon-container"> </div>

                            </div>
                            <div class="separator mb-8"></div>
                            <div class="row mb-">
                                <div class="col-xl-12 fv-row">
                                    <div>
                                        <center>
                                            <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                        </center>
                                    </div>
                                    <center>
                                        <div onclick="sendFormAjax(this,'EditarUbicacion')" class="btn btn-primary">
                                            Editar
                                            <i class="fas fa-store  fs-2qx"></i>
                                        </div>
                                    </center>
                                    <!--end::Submit-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </form>
        <div class="card mb-5 mb-xl-10">
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#DatosSitios" aria-expanded="true" aria-controls="DatosSitios">

                <div class="card-title m-0">
                    <i class="fas fa-hand-holding-usd text-primary fs-2qx"></i>

                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="MostrarModal('modal_Create_Sitio')">
                    Ingresas Sitio
                    <i class="fas fa-plus fs-md-1qx"></i>
                    </button>
                </div>
            </div>

            <div id="DatosSitios" class="collapse show">
                <div class="row">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab_datos_Sitio" role="tabpanel">
                            @await Html.PartialAsync("Sitio/_Modal_Create_Sitio", new DTOs.Sitios.SitioCreateDTO())
                        </div>

                        <div id="resultadoSitios">
                            @await Html.PartialAsync("Sitio/_ListaSitios", Model.listaSitiosDTO)
                        </div>
                    

                    </div>
                </div>
                @await Html.PartialAsync("Bandeja/_Modal_Crear_Bandeja", new DTOs.Bandejas.BandejaCreateDTO())
            </div>

        </div>
    </div>
</div>


@section scripts{
    <script src="~/js/JSLocales.js"></script>

    <script type="text/javascript">

        function recuperarCatalogosPorEmpresa() {
            let idSeleccionEmpresa = recuperarValueSelect("IdEmpresa")

            recuperarCataglosAPI(idSeleccionEmpresa, "listaProvincias", "EC")

            recuperarCataglosAPI(idSeleccionEmpresa, "IdTipolocal", "TPL")



        }

        function recuperarCataglosAPI(idSeleccionEmpresa, idSelectACargar, codigoCatalogo) {
            let selectCatlogoPadre = document.getElementById(idSelectACargar);
            //var options = document.querySelectorAll('#IdCatalogopadre option');
            var options = document.querySelectorAll("#" + idSelectACargar + " option");
            options.forEach(o => o.remove());

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/C_Catalogo/RecuperarCatalogoHijosPorcodigoCatalogo?IdEmpresaBusqueda=" + idSeleccionEmpresa + "&codigoCatalogoPadre=" + codigoCatalogo, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var directo = xhttp.response

                    var listaCatalogos = JSON.parse(directo)

                    if (listaCatalogos.length > 0) {
                        var option = document.createElement('option');

                        option.text = "Seleccionar";
                        selectCatlogoPadre.add(option);

                        for (var catalogo of listaCatalogos) {
                            optionSelect = document.createElement('option');
                            optionSelect.text = catalogo.nombrecatalogo;
                            optionSelect.value = catalogo.idCatalogo;

                            selectCatlogoPadre.add(optionSelect);
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "No existen registros para la búsqueda seleccionada.",
                            icon: 'info',
                        })
                    }
                }
                else if (this.readyState != 4 && this.status != 200) {
                    Swal.fire({
                        title: 'Error Inesperado',
                        text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                        icon: 'error',
                    })
                }
            }
        }

        function recuperarCiudad() {
            //let elemento = document.getElementById("listaProvincias");
            //var idSeleccion = elemento.options[elemento.selectedIndex].value;
            let idSeleccion = recuperarValueSelect("listaProvincias")


            let selectCiudad = document.getElementById("IdUbicacion");

            let idSeleccionEmpresa = recuperarValueSelect("IdEmpresa")

            var options = document.querySelectorAll('#IdUbicacion option');
            options.forEach(o => o.remove());
            option = document.createElement('option');
            option.text = "Seleccionar";
            selectCiudad.add(option);
            //alert(value)
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/C_Local/cargarListaDropDownCiudades?idPadreCatalogoCiudad=" + idSeleccion + "&idEmpresa=" + idSeleccionEmpresa, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var directo = xhttp.response

                    var listaCiudades = JSON.parse(directo)
                    if (listaCiudades.length > 0) {
                        for (var ciudad of listaCiudades) {
                            option = document.createElement('option');

                            option.text = ciudad.nombrecatalogo;
                            option.value = ciudad.idCatalogo;

                            selectCiudad.add(option);
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "No existen ciudades para la provincia seleccionada.",
                            icon: 'info',
                        })
                    }
                }
                else if (this.readyState != 4 && this.status != 200) {
                    Swal.fire({
                        title: 'Error Inesperado',
                        text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                        icon: 'error',
                    })
                }
            }
        };


    </script>
}