﻿@model IEnumerable<DTOs.Local.LocalResultadoBusquedaDTO>
@{
    Layout = "";
}

<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-xxl">
            <!--begin::Card-->
            <div class="card">
                <div class="card-body pt-0">
                    @await Html.PartialAsync("_MensajesBusqueda", Model.Count())

                    @if (Model.Count() > 0)
                    {
                        <!--begin::Table-->
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase gs-0">
                                    <th class="min-w-125px">Nombre</th>
                                    <th class="min-w-125px">Tipo</th>
                                    <th class="min-w-125px">Ubicación</th>
                                    <th class="min-w-125px">Estado</th>
                                    <th class="min-w-125px">Acción</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody class="fw-bold text-gray-600">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Nombrelocal</td>
                                        <td>@item.tipolocal</td>
                                        <td>@item.ubicacion</td>
                                        <td>
                                            @await Html.PartialAsync("_TextoActivadoDesactivado", item.Estado)     
                                        </td>                                                                        
                                        <td>
                                            <a href="~/C_Local/EditarLocal?idLocal=@item.IdLocal" target="_blank" class="badge badge-light-primary">Editar<i class="far fa-edit" style="color: #009ef7"></i></a>
                                            <a href="~/C_Local/DetalleLocal?idLocal=@item.IdLocal" target="_blank" class="badge badge-light-dark">Detalle<i class="far fa-eye" style="color:black"></i></a>
                                            <a href="~/C_Local/EliminarLocal?idLocal=@item.IdLocal" target="_blank" class="badge badge-light-danger">Eliminar<i class="fas fa-trash-alt" style="color: #f1416c"></i></a>
                                        </td>
                                        <!--end::Action=-->
                                    </tr>
                                }

                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    }
                </div>
                <!--end::Card body-->
            </div>
        </div>

        <!--end::Container-->
    </div>
    <!--end::Post-->
</div>
<!--end::Content-->
