﻿@model Utilitarios.Busquedas.Local.ObjetoBusquedaLocal

@{
    //SelectList listaTipoLocales = (SelectList)ViewData["listaTipoLocal"];
}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form action="/C_Local/BusquedaAvanzadaLocal"
              data-ajax="true"
              data-ajax-method="Get"
              data-ajax-loading="#imagenCargando"              
              data-ajax-begin="borrarResultadosAnteriores('#resultadoBusqueda')"
              data-ajax-update="#resultadoBusqueda"
              id="AjaxFormSend"
              method="post">
            <div class="card mb-10 mb-xl-12">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="fas fa-address-card text-primary fs-2qx"></i>
                                    Locales
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" asp-action="CrearLocal" asp-controller="C_Local">Nuevo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="col-md-12">
                        <div class="row">
                           
                            <div class="col-md-2 ">

                                @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar Empresa", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })

                            </div>
                            <div class="col-md-2">
                                <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre Local" />
                            </div>
                            <div class="col-md-2">
                                @Html.DropDownList("IdTipoLocal", ViewData["listaTipoLocal"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", })
                         
                            </div>

                            <div class="col-md-2">
                                <select id="Estado" name="Estado" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg">
                                    <option value="">Todos</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><span class="fas fa-search"></span> Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center><img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" style="display:none" /></center>

        </form>

        <div id="resultadoBusqueda">

        </div>
    </div>
</div>

@*<center><h2>Locales</h2></center>
<div><a href="/C_Local/CrearLocal" target="_blank" class="btn btn-sm btn-primary me-3">Añadir</a></div>
<form action="/C_Local/BusquedaAvanzadaLocal"
      data-ajax="true"
      data-ajax-method="Get"
      data-ajax-loading="#imagenCargando"
      data-ajax-update="#resultadoBusqueda"
      data-ajax-begin="borrarResultadosAnteriores('resultadoBusqueda')"
      id="AjaxFormSend"
      method="post">
    <div class="card mb-7">
        <div class="card-body">
            <div class="d-flex align-items-center">
                <div>
                    <label class="fs-5 form-label fw-bolder text-dark me-md-3">Filtrar</label>
                </div>
                <div class="position-relative w-md-300px me-md-2">
                    @Html.DropDownList("id", ViewData["listaEmpresas"] as SelectList, "Seleccionar Empresa", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                </div>
                <div>
                    <label class="fs-5 form-label fw-bolder text-dark me-md-5">Tipo</label>
                </div>
                <div class="col-lg-2 me-md-3">
                    <div class="nav-group nav-group-fluid">
                        @Html.DropDownList("tipoLocal", ViewData["listaTipoLocal"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })

                    </div>
                </div>
                <div>
                    <label class="fs-5 form-label fw-bolder text-dark me-md-5">Estado</label>
                </div>
                <div class="col-lg-3 me-md-3">
                    <div class="nav-group nav-group-fluid">
                        <select name="estado" id="estado" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg">
                            <option value="null">Todos</option>
                            <option value="true">Activado</option>
                            <option value="false">Desactivado</option>
                        </select>

                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary me-3">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</form>

<center>
    <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" style="display:none" />
</center>
<div id="resultadoBusqueda">

</div>*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            let elemento = document.getElementById("tipoLocal");
            let newOption = new Option('Todos', 'Todos');

            elemento.options[0] = newOption;
            elemento.selectedIndex = 0;//se coloca debido a que por alguna razón luego de añadir el nuevo option se selecciona el ultimo option.
        });
    </script>
}