﻿@model DTOs.Local.LocalCreateDTO

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <form asp-action="CrearLocal" id="formCreate">
            <div class="card mb-5 mb-xl-12">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">                    
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="fas fa-store text-primary fs-2qx"></i>
                                    Crear Local 
                                    <a class="btn btn-success" asp-action="AdministrarLocal" asp-controller="C_Local"><i class="fas fa-undo-alt"></i> Regresar</a>
                                </h3>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="row mb-5">
                            <!--begin::Col Razon Social -->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="required fs-5 fw-bold mb-2">Empresa</label>
                                @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                            </div>

                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Nombrelocal" class="required fs-5 fw-bold mb-2">Nombre</label>
                                <input asp-for="Nombrelocal" class="form-control form-control-solid" required />
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="IdTipolocal" class="required fs-5 fw-bold mb-2">Tipo Local</label>
                                @Html.DropDownList("IdTipoLocal", ViewData["listaTipoLocal"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Telefono" class="fs-5 fw-bold mb-2">Teléfono</label>
                                <input asp-for="Telefono" class="form-control form-control-solid" required />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>

                        </div>

                        <div class="row mb-5">
                            <div class="col-md-4 fv-row fv-plugins-icon-container">
                                <label for="listaProvincias" class="required fs-5 fw-bold mb-2">Provincia</label>
                                @Html.DropDownList("idProvincias", ViewData["listaProvincias"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required", onchange = "recuperarLugaresProvinciasCantonesCiudades('idProvincias','idCanton')" })
                            </div>
                            <div class="col-md-4 fv-row fv-plugins-icon-container">
                                <label for="ListaCantones" class="required fs-5 fw-bold mb-2">Cantón</label>
                                <select name="CantonesLocal" id="idCanton" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg" required="required" onchange="recuperarLugaresProvinciasCantonesCiudades('idCanton','IdUbicacion')"></select>
                              
                            </div>
                            <div class="col-md-4 fv-row fv-plugins-icon-container">
                                <label for="listaCiudades" class="required fs-5 fw-bold mb-2">Ciudad</label>
                                <select  asp-for="IdUbicacion" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg" required="required" ></select>

                                @*@Html.DropDownList("IdUbicacion", ViewData["listaCiudades"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @required = "required" })*@
                            </div>

                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Direccionlocal" class="fs-5 fw-bold mb-2">Dirección</label>
                                <textarea asp-for="Direccionlocal" class="form-control form-control-solid" required></textarea>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Observaciones" class="fs-5 fw-bold mb-2">Observaciones</label>
                                <textarea asp-for="Observaciones" class="form-control form-control-solid" required></textarea>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Estado</label>
                                    <br />
                                    <label>

                                        <input type="radio" class="btn-check" name="estado" value="true" checked="checked">

                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="estado" value="false">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Desactivado</span>
                                    </label>
                                </div>
                            </div>

                        </div>


                        <div class="separator mb-8"></div>
                        <div class="row mb-8">
                            <div class="col-xl-12 fv-row">
                                <div>
                                    <center>
                                        <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                    </center>
                                </div>
                                <center>
                                    <div onclick="sendFormAjax(this,'formCreate')" class="btn btn-primary">
                                        Crear nuevo
                                        <i class="fas fa-store  fs-2qx"></i>
                                    </div>
                                </center>
                                <!--end::Submit-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


@section scripts{
    <script src="~/js/JSLocales.js"></script>

    <script type="text/javascript">

        function recuperarCatalogosPorEmpresa() {
            let idSeleccionEmpresa = recuperarValueSelect("IdEmpresa")

            recuperarCataglosAPI(idSeleccionEmpresa, "listaProvincias", "EC")

            recuperarCataglosAPI(idSeleccionEmpresa, "IdTipolocal", "TPL")


        }

        function recuperarCataglosAPI(idSeleccionEmpresa, idSelectACargar, codigoCatalogo) {
            let selectCatlogoPadre = document.getElementById(idSelectACargar);
            //var options = document.querySelectorAll('#IdCatalogopadre option');
            var options = document.querySelectorAll("#" + idSelectACargar + " option");
            options.forEach(o => o.remove());

            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/C_Catalogo/RecuperarCatalogoHijosPorcodigoCatalogo?IdEmpresaBusqueda=" + idSeleccionEmpresa + "&codigoCatalogoPadre=" + codigoCatalogo, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var directo = xhttp.response

                    var listaCatalogos = JSON.parse(directo)

                    if (listaCatalogos.length > 0) {
                        var option = document.createElement('option');

                        option.text = "Seleccionar";
                        selectCatlogoPadre.add(option);

                        for (var catalogo of listaCatalogos) {
                            optionSelect = document.createElement('option');
                            optionSelect.text = catalogo.nombrecatalogo;
                            optionSelect.value = catalogo.idCatalogo;

                            selectCatlogoPadre.add(optionSelect);
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "No existen registros para la búsqueda seleccionada.",
                            icon: 'info',
                        })
                    }
                }
                else if (this.readyState != 4 && this.status != 200) {
                    Swal.fire({
                        title: 'Error Inesperado',
                        text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                        icon: 'error',
                    })
                }
            }
        }

        function recuperarCiudad() {
            //let elemento = document.getElementById("listaProvincias");
            //var idSeleccion = elemento.options[elemento.selectedIndex].value;
            let idSeleccion = recuperarValueSelect("listaProvincias")


            let selectCiudad = document.getElementById("IdUbicacion");

            let idSeleccionEmpresa = recuperarValueSelect("IdEmpresa")

            var options = document.querySelectorAll('#IdUbicacion option');
            options.forEach(o => o.remove());
            option = document.createElement('option');
            option.text = "Seleccionar";
            selectCiudad.add(option);
            //alert(value)
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "/C_Local/cargarListaDropDownCiudades?idPadreCatalogoCiudad=" + idSeleccion + "&idEmpresa=" + idSeleccionEmpresa, true);
            xhttp.send();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var directo = xhttp.response

                    var listaCiudades = JSON.parse(directo)
                    if (listaCiudades.length > 0) {
                        for (var ciudad of listaCiudades) {
                            option = document.createElement('option');

                            option.text = ciudad.nombrecatalogo;
                            option.value = ciudad.idCatalogo;

                            selectCiudad.add(option);
                        }
                    }
                    else {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "No existen ciudades para la provincia seleccionada.",
                            icon: 'info',
                        })
                    }
                }
                else if (this.readyState != 4 && this.status != 200) {
                    Swal.fire({
                        title: 'Error Inesperado',
                        text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                        icon: 'error',
                    })
                }
            }
        };


    </script>
}