﻿@model DTOs.Local.LocalCompleteDTO

<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
      
            @Html.HiddenFor(model => model.IdLocal)
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="far fa-building text-primary fs-2qx"></i>
                                    Detalle Local
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" asp-action="AdministrarLocal" asp-controller="C_Local">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="row mb-5">
                            <!--begin::Col Razon Social -->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="required fs-5 fw-bold mb-2">Empresa</label>
                                @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>

                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Nombrelocal" class="required fs-5 fw-bold mb-2">Nombre</label>
                                <input asp-for="NombreLocal" class="form-control form-control-solid" readonly="readonly" />
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="IdTipolocal" class="required fs-5 fw-bold mb-2">Tipo Local</label>
                                @Html.DropDownList("IdTipoLocal", ViewData["listaTipoLocal"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="listaProvincias" class="required fs-5 fw-bold mb-2">Provincia</label>
                                @Html.DropDownList("listaProvincias", ViewData["listaProvincias"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="fs-5 fw-bold mb-2">Ciudad</label>
                                @Html.DropDownList("IdUbicacion", ViewData["listaCiudades"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })

                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Telefono" class="fs-5 fw-bold mb-2">Teléfono</label>
                                <input asp-for="Telefono" class="form-control form-control-solid" readonly="readonly" />

                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Direccionlocal" class="fs-5 fw-bold mb-2">Dirección</label>
                                <textarea asp-for="DireccionLocal" class="form-control form-control-solid" readonly="readonly"></textarea>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label asp-for="Observaciones" class="fs-5 fw-bold mb-2">Observaciones</label>
                                <textarea asp-for="Observaciones" class="form-control form-control-solid" readonly="readonly"></textarea>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="fs-5 fw-bold mb-2">Usuario Creación</label>
                                <input asp-for="UsuarioCreacion" class="form-control form-control-solid" readonly="readonly" />
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Fechacreacion" class="fs-5 fw-bold mb-2">Fecha Creación</label>
                                <input asp-for="FechaCreacion" class="form-control form-control-solid" readonly="readonly" />
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Usuariomodificacion" class="fs-5 fw-bold mb-2">Usuario Modificación</label>
                                <input asp-for="UsuarioCreacion" class="form-control form-control-solid" readonly="readonly" />
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label for="Fechamodificacion" class="fs-5 fw-bold mb-2">Fecha Modificación</label>
                                <input asp-for="FechaModificacion" class="form-control form-control-solid" readonly="readonly" />
                            </div>
                        </div>


                        <div class="row mb-5">
                            <div class="row mb-5">
                                <div class="col-md-6 fv-row fv-plugins-icon-container">
                                    <!--end::Label-->
                                    <label class="required fs-5 fw-bold mb-2">Estado</label>
                                    <br />
                                    <label>
                                        <input type="radio" class="btn-check" name="estado" value="true" @(Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                                    </label>
                                    <label>
                                        <input type="radio" class="btn-check" name="estado" value="false" @(!Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Desactivado</span>
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        
    </div>

</div>


@section scripts{
    <script type="text/javascript">


    </script>
}