﻿@model Utilitarios.Busquedas.Empresa.ObjetoBusquedaEmpresas
<!--begin::Form-->


<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <form action="/C_Empresa/BusquedaAvanzada"
              data-ajax="true"
              data-ajax-method="Get"
              data-ajax-loading="#imagenCargando"              
              data-ajax-begin="borrarResultadosAnteriores('#resultadoBusqueda')"
              data-ajax-update="#resultadoBusqueda"
              id="AjaxFormSend"
              method="post">

            <div class="card mb-10 mb-xl-12">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="far fa-building text-primary fs-2qx"></i>
                                    Empresa
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" asp-action="CrearEmpresa" asp-controller="C_Empresa">Nuevo</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">

                                </div>
                            </div>
                            <div class="col-md-2">
                                <input asp-for="Ruc" type="text" class="form-control" placeholder="RUC" />
                            </div>
                            <div class="col-md-2">
                                <input asp-for="RazonSocial" type="text" class="form-control" placeholder="Razon Social" />
                            </div>

                            <div class="col-md-2">
                                <select id="Estado" name="Estado" aria-label="Selecionar" data-control="select2" data-placeholder="Seleccionar" class="form-select form-select-solid form-select-lg">
                                    <option value="">Todos</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary"><span class="fas fa-search"></span> Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <center><img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" style="display:none" /></center>

        </form>

        <div id="resultadoBusqueda">

        </div>
    </div>
</div>



