﻿@model DTOs.Empresa.EmpresaCreateDTO

<div class="post d-flex flex-column-fluid" id="kt_post">

    <div id="kt_content_container" class="container-xxl">
        <form asp-action="CrearEmpresa" class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework" id="formCreate">

            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="far fa-building text-primary fs-2qx"></i>
                                    Crear Empresa
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" asp-action="AdministrarEmpresa" asp-controller="C_Empresa">Regresar</a>
                            </div>
                        </div>                                                                                            

                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3"><label for="Razonsocial">Razón Social</label></div>
                        </div>
                        <input asp-for="Razonsocial" class="form-control form-control-solid" required />
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3"><label for="Telefono">Teléfono</label></div>
                        </div>
                        <input asp-for="Telefono" class="form-control form-control-solid" required />
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3"><label for="Ruc">Ruc</label></div>
                        </div>
                        <input asp-for="Ruc" class="form-control form-control-solid" required />
                    </div>

                    <div class="row mb-5">
                        <div class="col-md-6 fv-row fv-plugins-icon-container">
                            <!--end::Label-->
                            <label class="fs-5 fw-bold mb-2">
                                Estado
                                @await Html.PartialAsync("_AsteriscoObligatorio")
                            </label>
                            <br />
                            <label>
                                <input type="radio" class="btn-check" name="estado" value="true" checked="checked">

                                <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                            </label>
                            <label>
                                <input type="radio" class="btn-check" name="estado" value="false">
                                <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Desactivado</span>
                            </label>
                        </div>
                    </div>
                    <!--begin::Separator-->
                    <div class="separator mb-8"></div>
                   
                    <div class="row mb-8">
                        <div class="col-xl-12 fv-row">
                            <div>
                                <center>
                                    <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                </center>
                            </div>
                            <center>
                                <div onclick="sendFormAjax(this,'formCreate')" class="btn btn-primary">
                                    Crear nueva
                                    <i class="far fa-building fs-2qx"></i>
                                </div>
                            </center>
                            <!--end::Submit-->
                        </div>
                    </div>
                </div>
                    </div>
                    </form>

    </div>

</div>
