﻿@model DTOs.Empresa.EmpresaCompletoDTO
@{
}
<div class="post d-flex flex-column-fluid" id="kt_post">

    <div id="kt_content_container" class="container-xxl">
        <form asp-action="EliminarEmpresa" class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework" id="formEdit">
            <input asp-for="IdEmpresa" type="hidden" />
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="far fa-building text-primary fs-2qx"></i>
                                    Eliminar Empresa
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" asp-action="AdministrarEmpresa" asp-controller="C_Empresa">Regresar</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="row mb-5">
                            <!--begin::Col Razon Social -->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="required fs-5 fw-bold mb-2">Razón Social</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                @*<input type="text" class="form-control form-control-solid" placeholder="" name="first_name">*@
                                <input asp-for="Razonsocial" class="form-control form-control-solid" disabled="disabled" />
                                <!--end::Input-->
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <!--end::Col Razon Social-->
                            <!--begin::Col Teléfono-->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--end::Label-->
                                <label class="required fs-5 fw-bold mb-2">Teléfono</label>
                                <!--end::Label-->
                                <!--end::Input-->
                                <input asp-for="Telefono" class="form-control form-control-solid" disabled="disabled" />
                                <!--end::Input-->
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <!--end::Col Teléfono-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-5">
                            <!--begin::Col Ruc-->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--begin::Label-->
                                <label class="required fs-5 fw-bold mb-2">Ruc</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input asp-for="Ruc" class="form-control form-control-solid" disabled="disabled" />
                                <!--end::Input-->
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <!--end::Col Ruc-->
                            <!--begin::Col Estado-->
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <!--end::Label-->
                                <label class="required fs-5 fw-bold mb-2">Estado</label>
                                <br />
                                <label>
                                    @if (Model.Estado)
                                    {
                                        <input type="radio" class="btn-check" name="estado" value="true" checked="checked">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Activado</span>
                                    }

                                    else
                                    {
                                        <input type="radio" class="btn-check" name="estado" value="true" checked="checked">
                                        <span class="btn btn-sm btn-color-muted btn-active btn-active-primary fw-bolder px-2">Desactivado</span>
                                    }


                                </label>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="fs-5 fw-bold mb-2">Usuario Creación</label>
                                <input asp-for="Usuariocreacion" class="form-control form-control-solid" disabled="disabled" />
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="fs-5 fw-bold mb-2">Fecha Creación</label>
                                <input asp-for="Fechacreacion" class="form-control form-control-solid" disabled="disabled" />

                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="fs-5 fw-bold mb-2">Usuario Modificación</label>
                                <input asp-for="Usuariomodificacion" class="form-control form-control-solid" disabled="disabled" />
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="fs-5 fw-bold mb-2">Fecha Modificación</label>
                                <input asp-for="Fechamodificacion" class="form-control form-control-solid" disabled="disabled" />
                                <div class="fv-plugins-message-container invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="separator mb-8"></div>
                        <div class="row mb-8">
                            <div class="col-xl-12 fv-row">
                                <div>
                                    <center>
                                        <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                    </center>
                                </div>
                                <center>
                                    <div onclick="sendFormAjax(this,'formEdit','Delete')" class="btn btn-danger">
                                        Eiminar
                                        <i class="far fa-trash-alt fs"></i>
                                    </div>
                                </center>
                                <!--end::Submit-->
                            </div>
                        </div>
                        <div>
                            <center>
                                <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                            </center>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>


