﻿@model Utilitarios.Busquedas.Usuario.ObjetoBusquedaUsuarios

@{

}
<div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
        <form action="/C_Rol/BusquedaAvanzadaRol"
              data-ajax="true"
              data-ajax-method="Get"
              data-ajax-loading="#imagenCargando"
              data-ajax-update="#resultadoBusqueda"
              data-ajax-begin="borrarResultadosAnteriores('resultadoBusqueda')"
              id="AjaxFormSend"
              method="post">
            <div class="card mb-10 mb-xl-12">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <div class="row">
                            <div class="col-md-10">
                                <h3 class="fw-bolder m-0 text-gray-800">
                                    <i class="fas fa-key text-primary fs-2qx"></i>
                                    Administrar Roles
                                </h3>
                            </div>
                            <div class="col-md-2">
                                <a class="btn btn-success" asp-action="CrearRol">Añadir</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="fs-5 form-label fw-bolder text-dark me-md-3">
                                    Empresa
                                </label>
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @aria_label = "Selecionar", @data_control = "select2", @data_placeholder = "Seleccionar", @class = "form-select form-select-solid form-select-lg" })
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-primary me-3">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <center>
                <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" style="display:none" />
            </center>
        </form>
        <div id="resultadoBusqueda">

        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">

    </script>
}
