﻿@model DTOs.Rol.RolCompletoDTO

@{
    string listaPermisos = ViewData["listaPermisos"].ToString();
    
}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <input type="hidden" id="listaPermisos" name="listaPermiso" value="@listaPermisos" />
        <form asp-action="EditarRol" class="form" id="formEdit" method="post">
            @Html.HiddenFor(model => model.IdRol)
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-key text-primary fs-2qx"></i>
                            Editar Rol
                        </h3>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-success" asp-action="AdministrarRol"><i class="fas fa-undo-alt"></i><b>Lista de Roles</b></a>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Empresa</div>
                        </div>

                        <div class="col-xl-9 fv-row">
                            @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Nombre</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Nombrerol" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Estado</div>
                        </div>
                        <div class="col-xl-5 fv-row">
                            <div class="form-check form-check-solid form-switch fv-row">
                                <input type="checkbox" class="form-check-input w-45px h-30px" name="Estado" id="Estado" @(Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                                <label class="form-check-label" for="Activado"></label>
                            </div>
                        </div>
                    </div>
                    @*En esta sección se carga el acordión con los permisos seleccionados*@
                    <div class="row mb-8" id="resumenPermisoRoles">
                        <div class="accordion" id="acordionResumen">
                            @foreach (var Modulos in Model.listaModulos)
                            {
                                string nombreDivModulos = "div" + @Modulos.nombreModulo;
                                <div id="@nombreDivModulos" class="accordion-item">
                                    <h2 class="accordion-header accordion-icon-toggle" id="cabeceraRol_@Modulos.nombreModulo"><button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#cabeceraRol_Cuerpo_@Modulos.nombreModulo" aria-expanded="true" aria-controls="cabeceraRol+@Modulos.nombreModulo+_Cuerpo">@Modulos.nombreModulo</button></h2>
                                    <div class="accordion-collapse collapse show" id="cabeceraRol_Cuerpo_@Modulos.nombreModulo">
                                        <div class="alert bg-light-primary d-flex flex-column flex-sm-row p-5 mb-10">
                                            @foreach (var menus in Modulos.rolesMenu)
                                            {
                                                string idDatosMenu = Modulos.nombreModulo + "datosMenu";
                                                <i class="bi bi-check2-square fs-2x"></i>
                                                <div class="d-flex flex-column pe-0 pe-sm-10" id="@idDatosMenu" name="@idDatosMenu">
                                                    <h4 class="fw-bold">@menus.nombreMenu</h4>
                                                    <span>@menus.Rutamenu</span>
                                                    <div class="d-flex flex-wrap">
                                                        @foreach (var permisos in menus.permisosRoles)
                                                        {
                                                            @if (permisos.Concedido)
                                                            {
                                                                var recuperarCSS = permisos.CSSPermiso.Split("-");
                                                                string spanPermiso = "";
                                                                try
                                                                {
                                                                    spanPermiso = "badge badge-" + recuperarCSS[2];
                                                                }
                                                                catch (Exception)
                                                                {
                                                                    spanPermiso = "badge badge-" + recuperarCSS[1];
                                                                }<span class="@spanPermiso">@permisos.nombrePermiso</span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Usuario Creación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Usuariocreacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Fecha Creación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Fechacreacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Usuario Modificación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Usuariomodificacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Fecha Modificación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Fechamodficacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="modal fade" id="modalRolCategoria" tabindex="-1" aria-labelledby="modalRolCategoria" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="idTituloModal"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal()"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto">
                                <div class="badge badge-light-success fs-8 fw-bolder" onclick="marcarTodos()">
                                    <i class="far fa-check-square" style="color:green"></i>
                                </div>
                                <div class="badge badge-light-danger fs-8 fw-bolder" onclick="desmarTodos()">
                                    <i class="far fa-square" style="color:red"></i>
                                </div>
                            </div>
                            <div id="cuerpoModal" name="cuerpoModal" class="d-flex flex-column fv-row">

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal()">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnAniadirModal" onclick="crearObjetoJSCreacion()">Añadir Permiso</button>
                        <button type="button" class="btn btn-primary" id="btnEditarModal">Editar Permiso</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-labelledby="modalConfirmarEliminar" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Seguro de eliminar?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal('modalConfirmarEliminar','btnConfirmarEliminarModal')"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar <b><span id="spanConfirmarEliminar"></span></b>?</p>
                    </div>
                    <div class="modal-footer" id="divBotonesConfirmarEliminar">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModal('modalConfirmarEliminar','btnConfirmarEliminarModal')">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/custom/documentation/documentation.js"></script>
    <script src="~/assets/js/custom/documentation/search.js"></script>
    <script src="~/assets/js/custom/documentation/forms/select2.js"></script>

    <script type="text/javascript">
        const idEmpresaOCulto = "idEmpresaOCulto";
        const idModuloSeleccionOculto = "idModuloSeleccionOculto";
        let listaRoles = new Object();
        listaRoles.listaModulos = [];

        $(document).ready(function () {
            crearObjetoJSAcordion()
        });



        function cerrarModal(modalCerrar, divBotonesConfirmarEliminar) {
            let modalModulo
            if (modalCerrar != undefined) {
                modalModulo = document.getElementById(modalCerrar);
            }
            else {
                modalModulo = document.getElementById("modalRolCategoria");
            }

            if (divBotonesConfirmarEliminar != null) {
                document.getElementById(divBotonesConfirmarEliminar).remove();
            }

            modalModulo.classList.remove("show");
            modalModulo.removeAttribute('aria-labelledby', 'modalRolCategoria');
            modalModulo.removeAttribute('style', 'display: block; padding-left: 0px;');
            modalModulo.removeAttribute('aria-modal', 'true;');
            modalModulo.removeAttribute('role', 'dialog;');
            modalModulo.removeAttribute('aria-hidden', 'true');
        }

        function mostrarModal() {
            let modalModulo = document.getElementById("modalRolCategoria");

            let elementoSelectModulo = document.getElementById("IdModuloSelect");
            let nombreModulo = elementoSelectModulo.options[elementoSelectModulo.selectedIndex].text;
            //Se valida que no se intente añadir un Módulo que ya se encuentre el en objeto y en el acordión
            let btnAniadirModal = document.getElementById("btnAniadirModal");
            btnAniadirModal.classList.remove("d-none")

            let btnEditarModal = document.getElementById("btnEditarModal");
            btnEditarModal.classList.add("d-none")

            for (moduloActual of listaRoles.listaModulos) {
                try {
                    if (moduloActual.nombreModulo == nombreModulo) {
                        Swal.fire({
                            title: 'Advertencia',
                            text: "Este módulo ya fue añadido.",
                            icon: 'info',
                        })
                        return false;
                    }

                } catch {

                }
            }

            if (nombreModulo == "Seleccionar") {
                Swal.fire(
                    'Error!',
                    'Por favor seleccione un módulo.',
                    'warning')
            }
            else {

                recuperarCatalogosMenus();

                modalModulo.classList.add("show");
                modalModulo.setAttribute('aria-labelledby', 'modalRolCategoria');
                modalModulo.setAttribute('style', 'display: block; padding-left: 0px;');
                modalModulo.setAttribute('aria-modal', 'true;');
                modalModulo.setAttribute('role', 'dialog;');
                modalModulo.removeAttribute('aria-hidden', 'true');
                document.getElementById("idTituloModal").innerHTML = "Añadir Módulo \"" + nombreModulo + "\"";
            }
        }

        async function recuperarCatalogosMenus() {
            let elementoSelectEmpresa = document.getElementById("IdEmpresa");
            let idEmpresa = elementoSelectEmpresa.options[elementoSelectEmpresa.selectedIndex].value;

            let elementoSelectModulo = document.getElementById("IdModuloSelect");
            let idModuloSeleccion = elementoSelectModulo.options[elementoSelectModulo.selectedIndex].value;

            recuperarEstadoCatalogAPI(idEmpresa, idModuloSeleccion,false).then(listaCatalogos => {
                crearContenidoModal(listaCatalogos, idEmpresa, idModuloSeleccion)
            }
            );

        }

        function recuperarEstadoCatalogAPI(idEmpresa, nombreModulo, editar) {
            let rutaRecuperarCatalogos=""
            if (editar) {
                rutaRecuperarCatalogos = "/C_Catalogo/RecuperarCatalogoHijosPorNombre?IdEmpresaBusqueda=" + idEmpresa + "&nombreCatalogo=" + nombreModulo;
            }
            else {
                rutaRecuperarCatalogos = "/C_Catalogo/RecuperarCatalogoHijos?IdEmpresaBusqueda=" + idEmpresa + "&idCatalogoPadre=" + nombreModulo;
            }
            return new Promise((resolve, reject) => {
                var xhttp = new XMLHttpRequest();
                xhttp.open("GET", rutaRecuperarCatalogos , true);
                xhttp.send();

                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        var cuerpoModal = document.getElementById("cuerpoModal");
                        cuerpoModal.innerHTML = "";
                        var directo = xhttp.response

                        var listaCatalogos = JSON.parse(directo)

                        if (listaCatalogos.length <= 0) {                           

                            Swal.fire({
                                title: 'Advertencia',
                                text: "No existen registros el Módulo seleccionado.",
                                icon: 'info',
                            })
                        }

                        resolve(listaCatalogos)
                    }
                    else if (this.readyState != 4 && this.status != 200) {
                        reject(Swal.fire({
                            title: 'Error Inesperado',
                            text: "Ocurrió un error al recuperar las ciudades, por favor intente más tarde.",
                            icon: 'error',
                        }))
                    }
                }

            })
        }

        ///Creación Cuerpo Modal JS
        function crearContenidoModal(listaCatalogos, idEmpresa, nombreModulo, posicionListaObjeto, idDivItemAcordion) {
            let objetoRolEditar = listaRoles.listaModulos[posicionListaObjeto] == undefined ? false : listaRoles.listaModulos[posicionListaObjeto];
            let idNombreModuloElemento = nombreModulo
          
            //Se oculta el boton de añadir d-none
            if (posicionListaObjeto != undefined) {
                let btnAniadirModal = document.getElementById("btnAniadirModal");
                btnAniadirModal.classList.add("d-none")

                let btnEditarModal = document.getElementById("btnEditarModal");
                btnEditarModal.classList.remove("d-none")
                btnEditarModal.setAttribute("onclick", "editarModulosPermisoModal(" + idDivItemAcordion + "," + posicionListaObjeto + ")");
            }

            for (var catalogo of listaCatalogos) {
                let menuRolEditar
                if (objetoRolEditar) {
                    for (var menuEditar of objetoRolEditar.rolesMenu) {
                        if (menuEditar.nombreMenu == catalogo.nombrecatalogo) {
                            menuRolEditar = menuEditar
                            break
                        }
                    }
                }


                //Se crea campos ocultos para luego ser utilizados en la edición
                var inputHiddenEmpresa = document.createElement('INPUT');
                inputHiddenEmpresa.setAttribute("type", "hidden");
                inputHiddenEmpresa.setAttribute("value", idEmpresa);
                inputHiddenEmpresa.setAttribute("id", idEmpresaOCulto);

                var inputHiddenSeleccion = document.createElement('INPUT');
                inputHiddenSeleccion.setAttribute("type", "hidden");
                inputHiddenSeleccion.setAttribute("value", idNombreModuloElemento);
                inputHiddenSeleccion.setAttribute("id", idModuloSeleccionOculto);
                //Fin campos Ocultos

                //Inicio creación contenido Modal
                var divColumnaIzquierda = document.createElement('div');
                divColumnaIzquierda.className = "flex-column col-xl-4";
                divColumnaIzquierda.setAttribute("id", idNombreModuloElemento);

                var divColumnaDerecha = document.createElement('div');
                divColumnaDerecha.className = "flex-column col-xl-6";
                divColumnaDerecha.setAttribute("id", "checkNombrePermisos");

                var divSuperior = document.createElement('div');

                divSuperior.className = "form-check form-check-custom form-check-solid mb-5";
                divSuperior.setAttribute("id", "divSuperior");

                var toolTip = document.createElement('i');
                toolTip.className = "fas fa-exclamation-circle ms-2 fs-7";
                toolTip.setAttribute("data-bs-toggle", "tooltip");
                toolTip.setAttribute("title", catalogo.datoadicional);

                var checkBoxMenu = document.createElement('INPUT');
                checkBoxMenu.className = "form-check-input me-3";
                checkBoxMenu.setAttribute("type", "checkbox");
                checkBoxMenu.setAttribute("value", catalogo.nombrecatalogo);
                checkBoxMenu.setAttribute("id", catalogo.idCatalogo);
                checkBoxMenu.setAttribute("name", catalogo.idCatalogo);
                checkBoxMenu.setAttribute("title", catalogo.nombrecatalogo);
                checkBoxMenu.setAttribute("title", catalogo.nombrecatalogo);
                checkBoxMenu.setAttribute("onchange", "desSeleccinarTodos('" + catalogo.idCatalogo + "')");
                ///aqui
                if (menuRolEditar != undefined) {
                    if (menuRolEditar.nombreMenu == catalogo.nombrecatalogo)
                        checkBoxMenu.setAttribute("checked", "checked");
                }

                var rutaMenuOculto = document.createElement('INPUT');
                rutaMenuOculto.setAttribute("type", "hidden");
                rutaMenuOculto.setAttribute("value", catalogo.datoadicional);
                rutaMenuOculto.setAttribute("id", "rutaMenuOculto");

                var label = document.createElement('LABEL');
                label.className = "form-check-label";

                var divInterno = document.createElement('div');

                divInterno.className = "fw-bolder text-gray-800";
                divInterno.innerHTML = catalogo.nombrecatalogo;

                label.appendChild(divInterno);
                divInterno.appendChild(toolTip);

                divColumnaIzquierda.appendChild(checkBoxMenu)
                divColumnaIzquierda.appendChild(rutaMenuOculto)
                divColumnaIzquierda.appendChild(label)
                divColumnaIzquierda.appendChild(inputHiddenEmpresa);
                divColumnaIzquierda.appendChild(inputHiddenSeleccion);
                divSuperior.appendChild(divColumnaIzquierda);

                //Permisos
                var listaPerimos = document.getElementById("listaPermisos").value;
                var listaPerimosJSON = JSON.parse(listaPerimos)

                for (var catalogoPermiso of listaPerimosJSON) {
                    var divPermisos = document.createElement('div');
                    divPermisos.className = "btn-group btn-group-sm";
                    divPermisos.setAttribute("role", "group");
                    divPermisos.setAttribute("aria-label", "Basic checkbox toggle button group");

                    var checkBoxPermisos = document.createElement('INPUT');
                    checkBoxPermisos.className = "btn-check";
                    checkBoxPermisos.setAttribute("type", "checkbox");
                    checkBoxPermisos.setAttribute("value", catalogoPermiso.nombrecatalogo);
                    checkBoxPermisos.setAttribute("id", catalogo.idCatalogo + "-" + catalogoPermiso.idCatalogo);
                    checkBoxPermisos.setAttribute("autocomplete", "off");
                    checkBoxPermisos.setAttribute("onchange", "completarSeleccion('" + catalogo.idCatalogo + "','" + catalogo.idCatalogo + "-" + catalogoPermiso.idCatalogo + "')");
                    if (menuRolEditar != undefined) {
                        for (var rol in menuEditar.permisosRoles)
                            if (menuEditar.permisosRoles[rol].nombrePermiso == catalogoPermiso.nombrecatalogo)
                                checkBoxPermisos.setAttribute("checked", "checked");
                    }

                    var labelPermisos = document.createElement('LABEL');
                    labelPermisos.className = catalogoPermiso.datoadicional;
                    labelPermisos.innerHTML = catalogoPermiso.nombrecatalogo;
                    labelPermisos.setAttribute("for", catalogo.idCatalogo + "-" + catalogoPermiso.idCatalogo);

                    divPermisos.appendChild(checkBoxPermisos);
                    divPermisos.appendChild(labelPermisos);

                    divColumnaDerecha.appendChild(divPermisos)
                }
                divSuperior.appendChild(divColumnaDerecha);

                cuerpoModal.appendChild(divSuperior);
            }
        }

        //Recupera la información necesaria de los modulos seleccionados DESDE EL ACORDION, para construir el acordion inferior
        function crearObjetoJSAcordion() {
            let btnModuloAcordion = document.getElementsByClassName("accordion-button fs-4 fw-bold")
            let IdRol = document.getElementById("IdRol").value

            listaRoles.listaModulos = [];

            for (var modulo of btnModuloAcordion) {
                let listaModulos = new Object();
                
                listaModulos.rolesMenu = [];
                listaModulos.nombreModulo = modulo.innerHTML;
                listaModulos.IdRol = IdRol
                let divMenuRutaPermisos = document.getElementsByName(listaModulos.nombreModulo + "datosMenu");

                for (var divMenu of divMenuRutaPermisos) {
                    var rolesMenu = new Object();
                    let divMenuRutaPermisosHijos = divMenu.childNodes
                    rolesMenu.nombreMenu = divMenuRutaPermisosHijos[1].innerHTML
                    
                    rolesMenu.Rutamenu = divMenuRutaPermisosHijos[3].innerHTML
                    listaMenuRutaPermisos = divMenuRutaPermisosHijos[5].childNodes
                    rolesMenu.permisosRoles = [];

                    for (var datosMenu of listaMenuRutaPermisos) {
                        if (datosMenu.nodeName.toLowerCase() == "span") {
                            var permisosRoles = new Object();
                            permisosRoles.nombrePermiso = datosMenu.innerHTML;
                            permisosRoles.Concedido = true;
                            permisosRoles.CSSPermiso = datosMenu.className;
                            rolesMenu.permisosRoles.push(permisosRoles);
                        }
                    }
                    listaModulos.rolesMenu.push(rolesMenu);
                }
                listaRoles.listaModulos.push(listaModulos);
            }
        }


        //Recupera la información necesaria de los modulos seleccionados, para construir el acordion inferior
        function crearObjetoJSCreacion(nombreModulo) {
            let IdRol = document.getElementById("IdRol").value
            if (nombreModulo == undefined) {
                let elementoSelectModulo = document.getElementById("IdModuloSelect");
                nombreModulo = elementoSelectModulo.options[elementoSelectModulo.selectedIndex].text;
            }

            let listaModulos = new Object();
            listaModulos.nombreModulo = nombreModulo;
            listaModulos.IdRol = IdRol
            listaModulos.rolesMenu = [];

            var elementosCuerpoModal = document.getElementById("cuerpoModal").childNodes;
            for (var elemento of elementosCuerpoModal) {
                var rolesMenu = new Object();
                var divSuperior = elemento.childNodes;
                for (var divContenedor of divSuperior) {
                    rolesMenu.permisosRoles = []
                    if (divContenedor.className == "flex-column col-xl-4") {
                        var elementosInformacion = divContenedor.childNodes;
                        for (var informacion of elementosInformacion) {
                            if (informacion.className == "form-check-input me-3") {
                                if (informacion.checked) {
                                    rolesMenu.nombreMenu = informacion.defaultValue;
                                }
                            }
                            else if (informacion.id == "rutaMenuOculto") {
                                rolesMenu.Rutamenu = informacion.value;
                            }
                        }
                    }
                    else if (divContenedor.id == "checkNombrePermisos" && rolesMenu.nombreMenu !== undefined) {
                        var elementosPermisos = divContenedor.childNodes;
                        for (var divPermiso of elementosPermisos) {
                            if (divPermiso.className == "btn-group btn-group-sm") {
                                var datosMenu = divPermiso.childNodes;
                                for (informacion of datosMenu) {
                                    if (informacion.checked) {
                                        var permisosRoles = new Object();
                                        permisosRoles.nombrePermiso = informacion.defaultValue;
                                        permisosRoles.Concedido = true;
                                        permisosRoles.CSSPermiso = informacion.labels[0].className;
                                        rolesMenu.permisosRoles.push(permisosRoles);
                                    }
                                }

                            }
                        }
                    }
                }
                if (rolesMenu.nombreMenu !== undefined)
                    listaModulos.rolesMenu.push(rolesMenu);
            }

            if (listaModulos.rolesMenu.length <= 0) {
                Swal.fire({
                    title: 'Advertencia',
                    text: "Debe seleccionar por lo menos un menu y un permiso.",
                    icon: 'info',
                })
            }
            else {
                let continuar = true;
                for (var listaPermisos of listaModulos.rolesMenu) {
                    if (listaPermisos.permisosRoles.length <= 0) {
                        continuar = false;
                        break;
                    }
                }

                if (continuar) {
                    let posicionArreglo = listaRoles.listaModulos.length;
                    listaRoles.listaModulos.push(listaModulos);
                    construirAcordionPermisos(listaModulos, posicionArreglo)
                }
                else {
                    Swal.fire({
                        title: 'Advertencia',
                        text: "Debe seleccionar por lo menos un permiso por menu.",
                        icon: 'info',
                    })
                }
            }
        }

        function construirAcordionPermisos(listaModulos, posicionArreglo) {
            var elementoAcordion = document.getElementById("acordionResumen");
            let idDivItemAcordion = "div" + listaModulos.nombreModulo;

            let divAcordionItem = document.createElement('DIV');
            divAcordionItem.setAttribute("id", idDivItemAcordion);

            divAcordionItem.className = "accordion-item";
            elementoAcordion.appendChild(divAcordionItem)

            //Configuracion idEmpresa y idModulo selección, la idea es tener el id del módulo al que corresponden estas selección
            let idEmpresaSeleccionada = document.getElementById(idEmpresaOCulto)
            let idModuloSeleccionado = document.getElementById(idModuloSeleccionOculto)


            let tituloAcordion = document.createElement('H2');
            tituloAcordion.className = "accordion-header accordion-icon-toggle";
            tituloAcordion.setAttribute("id", "cabeceraRol" + listaModulos.nombreModulo);

            divAcordionItem.appendChild(tituloAcordion);


            let botonTituloAcordion = document.createElement('BUTTON');
            botonTituloAcordion.className = "accordion-button fs-4 fw-bold";
            botonTituloAcordion.setAttribute("type", "button");
            botonTituloAcordion.setAttribute("data-bs-toggle", "collapse");
            botonTituloAcordion.setAttribute("data-bs-target", "#cabeceraRol" + listaModulos.nombreModulo + "_Cuerpo");
            botonTituloAcordion.setAttribute("aria-expanded", "true");
            botonTituloAcordion.setAttribute("aria-controls", "cabeceraRol" + listaModulos.nombreModulo + "_Cuerpo");
            botonTituloAcordion.innerHTML = listaModulos.nombreModulo;

            tituloAcordion.appendChild(botonTituloAcordion)

            let divCuerpoRol = document.createElement('DIV');
            divCuerpoRol.className = "accordion-collapse collapse show";
            divCuerpoRol.setAttribute("id", "cabeceraRol" + listaModulos.nombreModulo + "_Cuerpo");

            divAcordionItem.appendChild(divCuerpoRol);

            let divCuerpoRolInterno = document.createElement('DIV');
            divCuerpoRolInterno.className = "accordion-body";

            divCuerpoRol.appendChild(divCuerpoRolInterno);

            for (permisoRol of listaModulos.rolesMenu) {
                //Llenado de datos dentro del acordion
                let divCuerpoRolDatos = document.createElement('DIV');
                divCuerpoRolInterno.className = "alert bg-light-primary d-flex flex-column flex-sm-row p-5 mb-10";

                divCuerpoRolInterno.appendChild(divCuerpoRolDatos)

                let iconoCuerpoDatos = document.createElement('I');
                iconoCuerpoDatos.className = "bi bi-check2-square fs-2x";
                divCuerpoRolInterno.appendChild(iconoCuerpoDatos)

                //Contenido Alert
                let divContenidoAlert = document.createElement('DIV');
                divContenidoAlert.className = "d-flex flex-column pe-0 pe-sm-10";

                divCuerpoRolInterno.appendChild(divContenidoAlert)

                let tituloContenidoAlert = document.createElement('h4');
                tituloContenidoAlert.className = "fw-bold";
                tituloContenidoAlert.innerHTML = permisoRol.nombreMenu;
                divContenidoAlert.appendChild(tituloContenidoAlert)

                //Span para mostrar la ruta
                let textoRutaMenu = document.createElement('SPAN');
                textoRutaMenu.innerHTML = permisoRol.Rutamenu;
                divContenidoAlert.appendChild(textoRutaMenu)

                //Div para mostrar los permisos otorgados
                let divPermisos = document.createElement('DIV');
                divPermisos.className = "d-flex flex-wrap";
                divContenidoAlert.appendChild(divPermisos)

                for (permiso of permisoRol.permisosRoles) {
                    let spanPermiso = document.createElement('SPAN');
                    let recuperarCSS = permiso.CSSPermiso.split('-');
                    spanPermiso.className = "badge badge-" + recuperarCSS[2];
                    spanPermiso.innerHTML = permiso.nombrePermiso
                    divPermisos.appendChild(spanPermiso)
                }
            }
            //Botones editar e eliminar
            let divBotonesEditarEliminar = document.createElement('DIV');
            divBotonesEditarEliminar.className = "position-absolute position-sm-relative m-2 m-sm-0 top-0 end-0 btn btn-icon ms-sm-auto";
            divCuerpoRolInterno.appendChild(divBotonesEditarEliminar)

            let divEditar = document.createElement('DIV');
            divEditar.className = "badge badge-light-success fs-8 fw-bolder";
            divEditar.setAttribute("onclick", "editarPermisosModulo(" + posicionArreglo + ",'" + idDivItemAcordion + "','" + idEmpresaSeleccionada.defaultValue + "','" + idModuloSeleccionado.value + "','" + listaModulos.nombreModulo + "')")

            divBotonesEditarEliminar.appendChild(divEditar)

            let iconoEditar = document.createElement('I');
            iconoEditar.className = "far fa-edit";
            iconoEditar.setAttribute("style", "color:green");
            divEditar.appendChild(iconoEditar)

            let divEliminar = document.createElement('DIV');
            divEliminar.className = "badge badge-light-danger fs-8 fw-bolder";
            divEliminar.setAttribute("onclick", "MostarModalConfirmarElimnar(" + posicionArreglo + "," + idDivItemAcordion + ",'" + listaModulos.nombreModulo + "')")
            divBotonesEditarEliminar.appendChild(divEliminar)

            let iconoEliminar = document.createElement('I');
            iconoEliminar.className = "far fa-trash-alt";
            iconoEliminar.setAttribute("style", "color:red");
            divEliminar.appendChild(iconoEliminar)
            cerrarModal("modalRolCategoria")
        }

        function eliminarPermisosModulo(posicionArreglo, idDivItemAcordion, nombreModal, btnConfirmarEliminarModal) {
            delete listaRoles.listaModulos[posicionArreglo];
            let divElminar = document.getElementById(idDivItemAcordion)

            if (divElminar != undefined) {
                divElminar.remove();
            }
            else {
                idDivItemAcordion.remove();
            }

            if (nombreModal != undefined) {
                cerrarModal(nombreModal)
                //Se borra el boton porque se crea uno nuevo con diferentes parametros en el eveto onclick
                document.getElementById(btnConfirmarEliminarModal).remove()
            }

        }

        function editarPermisosModulo(posicionArreglo, idDivItemAcordion, idEmpresaSeleccionada, nombreModulo) {
            
            recuperarEstadoCatalogAPI(idEmpresaSeleccionada, nombreModulo,true).then(listaCatalogos => {
                crearContenidoModal(listaCatalogos, idEmpresaSeleccionada, nombreModulo, posicionArreglo, idDivItemAcordion)
                let modalModulo = document.getElementById("modalRolCategoria");
                modalModulo.classList.add("show");
                modalModulo.setAttribute('aria-labelledby', 'modalRolCategoria');
                modalModulo.setAttribute('style', 'display: block; padding-left: 0px;');
                modalModulo.setAttribute('aria-modal', 'true;');
                modalModulo.setAttribute('role', 'dialog;');
                modalModulo.removeAttribute('aria-hidden', 'true');
                document.getElementById("idTituloModal").innerHTML = "Editar Módulo \"" + nombreModulo + "\"";
            }
            );
        }

        function editarModulosPermisoModal(idDivItemAcordion, posicionObjetoActual) {
            let nombreModulo = listaRoles.listaModulos[posicionObjetoActual].nombreModulo
            delete listaRoles.listaModulos[posicionObjetoActual];
            idDivItemAcordion.remove();

            crearObjetoJSCreacion(nombreModulo);
        }

        function MostarModalConfirmarElimnar(posicionArreglo, idDivItemAcordion, nombreModulo) {

            let modalModulo = document.getElementById("modalConfirmarEliminar");
            let divBotonesConfirmarEliminar = document.getElementById("divBotonesConfirmarEliminar");
            let spanTextoEliminar = document.getElementById("spanConfirmarEliminar");
            spanTextoEliminar.innerHTML = nombreModulo;

            modalModulo.classList.add("show");
            modalModulo.setAttribute('aria-labelledby', 'modalRolCategoria');
            modalModulo.setAttribute('style', 'display: block; padding-left: 0px;');
            modalModulo.setAttribute('aria-modal', 'true;');
            modalModulo.setAttribute('role', 'dialog;');
            modalModulo.removeAttribute('aria-hidden', 'true');

            let btnConfirmarEliminar = document.createElement('div');
            btnConfirmarEliminar.className = "btn btn-danger";
            
            if (idDivItemAcordion.id == undefined) {
                btnConfirmarEliminar.setAttribute("onclick", "eliminarPermisosModulo(" + posicionArreglo + ",'" + idDivItemAcordion + "','modalConfirmarEliminar','btnConfirmarEliminarModal')")
            }
            else {
                btnConfirmarEliminar.setAttribute("onclick", "eliminarPermisosModulo(" + posicionArreglo + "," + idDivItemAcordion.id + ",'modalConfirmarEliminar','btnConfirmarEliminarModal')")
            }
            
            btnConfirmarEliminar.setAttribute("id", "btnConfirmarEliminarModal")
            btnConfirmarEliminar.innerHTML = "Eliminar"
            divBotonesConfirmarEliminar.append(btnConfirmarEliminar)
        }

        function sendFormAjaxEditarRol(btnSubmit, formAjax) {
            let continueSummit = true;
            let elementLoading = document.getElementById("imagenCargando");

            if (elementLoading != null) {
                elementLoading.classList.remove("invisible");
            }
            else {
                btnSubmit.setAttribute("data-kt-indicator", "on");
            }

            $(btnSubmit).attr('disabled', true);

            event.preventDefault();
            event.stopImmediatePropagation();

            let myForm = document.getElementById(formAjax);

            myForm.classList.add("formOpacityDisabled");

            $(':input', 'form').each(function (i, inputForm) {
                if ($(inputForm).attr("required")) {
                    if (!$(inputForm).val()) {
                        let campo;

                        try {
                            campo = $("label[for='" + $(inputForm).attr('id') + "']")[0].innerText
                        }
                        catch {
                            try {
                                campo = $(inputForm).attr('placeholder');
                            }
                            catch {
                                campo = "Por favor revisa los campos obligatorios.";
                            }
                        }

                        Swal.fire(
                            campo,
                            "Por favor Ingresa la información solicitada.",
                            "error"
                        )
                        continueSummit = false;
                        ocultarCargando(elementLoading, btnSubmit)

                        myForm.classList.remove("formOpacityDisabled");
                        $(btnSubmit).attr('disabled', false);

                        return false;
                    }
                }
            })
            console.log("*********************************")
            if (continueSummit) {
                let selectEmpresa = document.getElementById("IdEmpresa");
                let IdEmpresa = selectEmpresa.options[selectEmpresa.selectedIndex].value;
                let Nombrerol = document.getElementById("Nombrerol").value;

                listaRoles["IdEmpresa"] = IdEmpresa
                listaRoles["Nombrerol"] = Nombrerol

                let estado = false
                if (document.getElementById("Estado").checked)
                    estado = true
                listaRoles["Estado"] = estado

                let idRol = document.getElementById("IdRol").value

                listaRoles["IdRol"] = idRol



                if (listaRoles.listaModulos.length <= 0) {
                    Swal.fire(
                        "Por seleccione por lo menos un menu.",
                        "Error",
                        "error"
                    )
                    continueSummit = false
                    ocultarCargando(elementLoading, btnSubmit)
                    return false;
                }
            }

            if (continueSummit) {


                $.ajax({
                    url: myForm.action,
                    type: myForm.method,
                    data: JSON.stringify(listaRoles),
                    dataType: 'JSON',
                    contentType: "application/json",
                    processData: false,
                    success: function (result) {
                        var responseRead = JSON.stringify(result);
                        var jsonObject = JSON.parse(responseRead);
                        // Result.
                        Swal.fire(
                            jsonObject.result.message,
                            jsonObject.result.state,
                            jsonObject.result.icon,
                        )
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        Swal.fire(
                            "Ocurró un error inesperado",
                            "Error",
                            "error"
                        )
                    },
                    complete: function (data) {
                        ocultarCargando(elementLoading, btnSubmit)

                        myForm.classList.remove("formOpacityDisabled");

                    }
                });
            }
        }

        function ocultarCargando(elementLoading, btnSubmit) {
            if (elementLoading != null) {
                elementLoading.classList.add("invisible");
            }
            $(btnSubmit).attr('disabled', false);

        }

        //Si activo un permiso y tengo activo el check del Menu se activa el menu automaticamente, recibe id del menu a selecciónar y el id del check permisos
        function completarSeleccion(idModuloSeleccion, estadoCheckPermiso) {
            var check = document.getElementById(estadoCheckPermiso);
            if (check.checked) {
                document.getElementById(idModuloSeleccion).checked = true;
            }
        }

        //Si se desmarca el menu y aun se tiene permisos selecionados automaticamente se desmarcan los permisos
        function desSeleccinarTodos(idModuloSeleccion) {
            var check = document.getElementById(idModuloSeleccion);
            if (!check.checked) {

                var divMenu = check.parentElement;
                var divSuperior = divMenu.parentElement;
                var hijosDivSuperior = divSuperior.childNodes;
                for (var divContenedor of hijosDivSuperior) {
                    if (divContenedor.id == "checkNombrePermisos") {
                        var elementosPermisos = divContenedor.childNodes;
                        for (var divPermiso of elementosPermisos) {
                            if (divPermiso.className == "btn-group btn-group-sm") {
                                var datosMenu = divPermiso.childNodes;
                                for (informacion of datosMenu) {
                                    if (informacion.checked) {
                                        informacion.checked = false;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        function marcarTodos() {
            var divPrincipalModal = document.getElementById("cuerpoModal");

            $(':input', divPrincipalModal).each(function (i, inputForm) {

                if (inputForm.type == "checkbox") {
                    inputForm.checked = true;
                }
            })
        }
        function desmarTodos() {
            var divPrincipalModal = document.getElementById("cuerpoModal");

            $(':input', divPrincipalModal).each(function (i, inputForm) {

                if (inputForm.type == "checkbox") {
                    inputForm.checked = false;
                }
            })
        }


    </script>
}
