﻿@model DTOs.Rol.RolCompletoDTO

@{
    string listaPermisos = ViewData["listaPermisos"].ToString();

}

<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <input type="hidden" id="listaPermisos" name="listaPermiso" value="@listaPermisos" />
        <form asp-action="EliminarRol" class="form" id="formularioEliminarRol" method="post">
            @Html.HiddenFor(model =>
          model.IdRol)
            <div class="card mb-5 mb-xl-10">
                <div class="card-header card-header-stretch">
                    <div class="card-title d-flex align-items-center">
                        <h3 class="fw-bolder m-0 text-gray-800">
                            <i class="fas fa-address-card text-primary fs-2qx"></i>
                            Eliminar Rol
                        </h3>
                    </div>
                </div>

                <div class="card-body border-top p-9">
                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Empresa</div>
                        </div>

                        <div class="col-xl-9 fv-row">
                            @Html.DropDownList("IdEmpresa", ViewData["listaEmpresas"] as SelectList, "Seleccionar", htmlAttributes: new { @class = "form-select form-select-solid form-select-lg", @disabled = "disabled" })
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Nombre</div>
                        </div>

                        <div class="col-xl-9 fv-row">
                            <input asp-for="Nombrerol" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Estado</div>
                        </div>
                        <div class="col-xl-5 fv-row">
                            <div class="form-check form-check-solid form-switch fv-row">
                                <input type="checkbox" class="form-check-input w-45px h-30px" name="Estado" id="Estado" @(Model.Estado ? "checked= \"checked\"" : "") disabled="disabled">
                                <label class="form-check-label" for="Activado"></label>
                            </div>
                        </div>
                    </div>
                    @*En esta sección se carga el acordión con los permisos seleccionados*@
                    <div class="row mb-8" id="resumenPermisoRoles">
                        <div class="accordion" id="acordionResumen">
                            @foreach (var Modulos in Model.listaModulos)
                            {
                                string nombreDivModulos = "div" + @Modulos.nombreModulo;
                                <div id="@nombreDivModulos" class="accordion-item">
                                    <h2 class="accordion-header accordion-icon-toggle" id="cabeceraRol_@Modulos.nombreModulo"><button class="accordion-button fs-4 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#cabeceraRol_Cuerpo_@Modulos.nombreModulo" aria-expanded="true" aria-controls="cabeceraRol+@Modulos.nombreModulo+_Cuerpo">@Modulos.nombreModulo</button></h2>
                                    <div class="accordion-collapse collapse show" id="cabeceraRol_Cuerpo_@Modulos.nombreModulo">
                                        <div class="alert bg-light-primary d-flex flex-column flex-sm-row p-5 mb-10">
                                            @foreach (var menus in Modulos.rolesMenu)
                                            {
                                                string idDatosMenu = Modulos.nombreModulo + "datosMenu";
                                                <i class="bi bi-check2-square fs-2x"></i>
                                                <div class="d-flex flex-column pe-0 pe-sm-10" id="@idDatosMenu" name="@idDatosMenu">
                                                    <h4 class="fw-bold">@menus.nombreMenu</h4>
                                                    <span>@menus.Rutamenu</span>
                                                    <div class="d-flex flex-wrap">
                                                        @foreach (var permisos in menus.permisosRoles)
                                                        {
                                                            @if (permisos.Concedido)
                                                            {
                                                                var recuperarCSS = permisos.CSSPermiso.Split("-");
                                                                string spanPermiso = "";
                                                                try
                                                                {
                                                                    spanPermiso = "badge badge-" + recuperarCSS[2];
                                                                }
                                                                catch (Exception)
                                                                {
                                                                    spanPermiso = "badge badge-" + recuperarCSS[1];
                                                                }<span class="@spanPermiso">@permisos.nombrePermiso</span>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Usuario Creación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Usuariocreacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Fecha Creación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Fechacreacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Usuario Modificación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Usuariomodificacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row mb-8">
                        <div class="col-xl-2">
                            <div class="fs-6 fw-bold mt-2 mb-3">Fecha Modificación</div>
                        </div>
                        <div class="col-xl-9 fv-row">
                            <input asp-for="Fechamodficacion" class="form-control form-control-solid" placeholder="Define el nombre del rol" readonly="readonly" />
                        </div>
                    </div>


                    <div class="row mb-8">
                        <div class="col-xl-12 fv-row">
                            <div>
                                <center>
                                    <img src="~/assets/media/loading.gif" id="imagenCargando" name="imagenCargando" class="invisible" />
                                </center>
                            </div>
                            <center>
                                <input type="button" value="Eliminar" onclick="mostrarModalRol()" class="btn btn-danger">
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal fade" id="modalConfirmarEliminar" tabindex="-1" aria-labelledby="modalConfirmarEliminar" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">¿Seguro de eliminar?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModelRol('modalConfirmarEliminar')"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar? </p>
                    </div>
                    <div class="modal-footer" id="divBotonesConfirmarEliminar">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cerrarModelRol('modalConfirmarEliminar')">Cancelar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="sendFormAjaxEditarRol()">Elimnar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/custom/documentation/documentation.js"></script>
    <script src="~/assets/js/custom/documentation/search.js"></script>
    <script src="~/assets/js/custom/documentation/forms/select2.js"></script>

    <script type="text/javascript">
        const idEmpresaOCulto = "idEmpresaOCulto";
        const idModuloSeleccionOculto = "idModuloSeleccionOculto";
        let listaRoles = new Object();
        listaRoles.listaModulos = [];

        function sendFormAjaxEditarRol() {
            let myForm = document.getElementById("formularioEliminarRol");
            let formData = new FormData(myForm);

            $.ajax({
                url: myForm.action,
                type: myForm.method,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (result) {

                    var responseRead = JSON.stringify(result);
                    var jsonObject = JSON.parse(responseRead);

                    if (jsonObject.message != undefined) {
                        Swal.fire(
                            jsonObject.message,
                            jsonObject.state,
                            jsonObject.icon,
                        )
                    }
                    else {
                        Swal.fire(
                            jsonObject.result.message,
                            jsonObject.result.state,
                            jsonObject.result.icon,
                        ).then((resulThen) => {
                            if (jsonObject.result.urlRetorno != undefined) {
                                window.location.href = jsonObject.result.urlRetorno
                            }
                        })
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    Swal.fire(
                        "Ocurró un error inesperado",
                        "Error",
                        "error"
                    )


                },
                complete: function (data) {
                    cerrarModelRol('modalConfirmarEliminar')
                }
            });
        }

        function cerrarModelRol(modalCerrar) {
            let modalModulo = document.getElementById(modalCerrar);

            modalModulo.classList.remove("show");
            modalModulo.removeAttribute('aria-labelledby', 'modalRolCategoria');
            modalModulo.removeAttribute('style', 'display: block; padding-left: 0px;');
            modalModulo.removeAttribute('aria-modal', 'true;');
            modalModulo.removeAttribute('role', 'dialog;');
            modalModulo.removeAttribute('aria-hidden', 'true');
        }

        function mostrarModalRol() {
            let modalModulo = document.getElementById("modalConfirmarEliminar");

            modalModulo.classList.add("show");
            modalModulo.setAttribute('aria-labelledby', 'modalRolCategoria');
            modalModulo.setAttribute('style', 'display: block; padding-left: 0px;');
            modalModulo.setAttribute('aria-modal', 'true;');
            modalModulo.setAttribute('role', 'dialog;');
            modalModulo.removeAttribute('aria-hidden', 'true');

        }

    </script>
}
